# SQL Alchemy: Part 3

| Key              | Value                                                                                                                                                                                                                                                                                                                                                          |
|:-----------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Course Codes** | DAT 2201, DAT 3103, BBT 3104, MCS 8104, MIT 8107, BBT 4106                                                                                                                                                                                                                                                                                                     |
| **Course Names** | DAT 2201: Database Design and SQL (Week 1-3 of 13), <br/>DAT 3103: Principles of Data Engineering (Week 1-3 of 13), <br/>BBT 3104: Advanced Database Systems (Week 7-9 of 13), <br/>MCS 8104: Database Management Systems (Week 1-3 of 13), <br/>MIT 8107: Advanced Database Systems (Week 1-3 of 13), <br/>BBT 4106: Business Intelligence I (Week 4-6 of 13) |
| **Semester**     | May to July 2026                                                                                                                                                                                                                                                                                                                                               |
| **Lecturer**     | Allan Omondi                                                                                                                                                                                                                                                                                                                                                   |
| **Contact**      | aomondi@strathmore.edu                                                                                                                                                                                                                                                                                                                                         |
| **Note**         | The lecture contains both theory and practice.<br/>This notebook forms part of the practice.<br/>It is intended for educational purpose only.<br/>Recommended citation: [BibTex](https://raw.githubusercontent.com/course-files/ObjectRelationalMapping/refs/heads/main/RecommendedCitation.bib)                                                               |

## Modelling Relationships using SQL Alchemy

In [1]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
from sqlalchemy import MetaData, Table, Column, Integer, String, Float, Text
from sqlalchemy import ForeignKey, func
from sqlalchemy import exc
import sqlalchemy
import pandas as pd

### An SQLite Engine

In [2]:
# engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
# session = Session(engine)

### A MySQL Engine

In [3]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)
session = Session(engine)

### A PostgreSQL Engine

- We can set the schema to use when creating the engine as opposed to editing the metadata object later to set the schema.
- The `%3d` is the URL-encoded `=` sign

In [4]:
# engine = create_engine(
#     "postgresql+psycopg2://postgres:5trathm0re@localhost:5433/postgres?options=-csearch_path%3dsiwaka_dishes",
#     echo=True
# )
# session = Session(engine)

In [5]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('price', Float)
)

side_dish_ingredient = Table(
    "side_dish_ingredient",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False)
)

side_dish_and_side_dish_ingredient = Table(
    "side_dish_and_side_dish_ingredient",
    meta,
    Column('side_dish_id', Integer, ForeignKey('side_dish.id'), nullable=False, primary_key=True),
    Column('side_dish_ingredient_id', Integer, ForeignKey('side_dish_ingredient.id'), nullable=False, primary_key=True)
)

meta.create_all(engine)

2025-12-10 07:18:16,614 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-10 07:18:16,615 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 07:18:16,618 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-10 07:18:16,619 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 07:18:16,622 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-10 07:18:16,623 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 07:18:16,627 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:16,627 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-10 07:18:16,628 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 07:18:16,653 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish_ingredient`
2025-12-10 07:18:16,654 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 07:18:16,660 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish_and_side_dish_ingredient`
2025-12-10 07:18:16,661 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 07:18:16,664 INFO sqlalchemy.engine.Engine COMMIT

## Truncate the Data in the Tables to Start Afresh

In [6]:
with Session(engine) as session:
    delete_statement = side_dish_and_side_dish_ingredient.delete()
    result = session.execute(delete_statement)
    session.commit()

with Session(engine) as session:
    delete_statement = side_dish_ingredient.delete()
    result = session.execute(delete_statement)
    session.commit()

with Session(engine) as session:
    delete_statement = side_dish.delete()
    result = session.execute(delete_statement)
    session.commit()

2025-12-10 07:18:16,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:16,679 INFO sqlalchemy.engine.Engine DELETE FROM side_dish_and_side_dish_ingredient
2025-12-10 07:18:16,680 INFO sqlalchemy.engine.Engine [generated in 0.00110s] {}
2025-12-10 07:18:16,685 INFO sqlalchemy.engine.Engine COMMIT
2025-12-10 07:18:16,692 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:16,693 INFO sqlalchemy.engine.Engine DELETE FROM side_dish_ingredient
2025-12-10 07:18:16,694 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {}
2025-12-10 07:18:16,699 INFO sqlalchemy.engine.Engine COMMIT
2025-12-10 07:18:16,704 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:16,706 INFO sqlalchemy.engine.Engine DELETE FROM side_dish
2025-12-10 07:18:16,707 INFO sqlalchemy.engine.Engine [generated in 0.00091s] {}
2025-12-10 07:18:16,711 INFO sqlalchemy.engine.Engine COMMIT

## Confirm that the Tables are Empty

### `side_dish`

In [7]:
with Session(engine) as session:
    select_statement = side_dish.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 07:18:16,725 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:16,728 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
2025-12-10 07:18:16,729 INFO sqlalchemy.engine.Engine [generated in 0.00094s] {}

Empty DataFrame
Columns: [id, name, price]
Index: []

2025-12-10 07:18:16,747 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_ingredient`

In [8]:
with Session(engine) as session:
    select_statement = side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 07:18:16,796 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:16,797 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.id, side_dish_ingredient.name
FROM side_dish_ingredient
2025-12-10 07:18:16,798 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {}

Empty DataFrame
Columns: [id, name]
Index: []

2025-12-10 07:18:16,805 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_and_side_dish_ingredient`

In [9]:
with Session(engine) as session:
    select_statement = side_dish_and_side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 07:18:16,918 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:16,920 INFO sqlalchemy.engine.Engine SELECT side_dish_and_side_dish_ingredient.side_dish_id, side_dish_and_side_dish_ingredient.side_dish_ingredient_id
FROM side_dish_and_side_dish_ingredient
2025-12-10 07:18:16,921 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {}

Empty DataFrame
Columns: [side_dish_id, side_dish_ingredient_id]
Index: []

2025-12-10 07:18:16,930 INFO sqlalchemy.engine.Engine COMMIT

## Insert Data into Related Tables

In [10]:
with Session(engine) as session:
    session.execute(side_dish.insert().values(id=10, name='Kachumbari na Pilipili', price=45))
    session.execute(side_dish.insert().values(id=11, name='Kenyan Guacamole', price=45))
    session.execute(side_dish.insert().values(id=12, name='Sukuma Wiki (Sautéed Collard Greens)', price=55))
    session.execute(side_dish.insert().values(id=13, name='Mukimo Plain', price=130))
    session.execute(side_dish.insert().values(id=14, name='Avocado', price=50))

    ingredients = [
        {'id': 10, 'name': 'Tomatoes'},
        {'id': 11, 'name': 'Onions'},
        {'id': 12, 'name': 'Chilli'},
        {'id': 13, 'name': 'Irish Potatoes'},
        {'id': 14, 'name': 'Green Peas'},
        {'id': 15, 'name': 'Soft Green Maize'},
        {'id': 16, 'name': 'Pumpkin Leaves'},
        {'id': 17, 'name': 'Garlic'},
        {'id': 18, 'name': 'Salt'},
        {'id': 19, 'name': 'Avocado'},
        {'id': 20, 'name': 'Dhania (Coriander)'}
    ]

    for ingredient in ingredients:
        session.execute(side_dish_ingredient.insert().values(**ingredient))

    recipe = [
        {'side_dish_id': 10, 'side_dish_ingredient_id': 10},
        {'side_dish_id': 10, 'side_dish_ingredient_id': 11},
        {'side_dish_id': 10, 'side_dish_ingredient_id': 12},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 18},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 10},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 11},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 19},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 13},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 14},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 15},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 16},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 18},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 19},
        {'side_dish_id': 14, 'side_dish_ingredient_id': 19}
    ]

    for item in recipe:
        session.execute(side_dish_and_side_dish_ingredient.insert().values(**item))
    session.commit()

2025-12-10 07:18:17,039 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:17,041 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-10 07:18:17,042 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {'id': 10, 'name': 'Kachumbari na Pilipili', 'price': 45}
2025-12-10 07:18:17,048 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-10 07:18:17,049 INFO sqlalchemy.engine.Engine [cached since 0.008133s ago] {'id': 11, 'name': 'Kenyan Guacamole', 'price': 45}
2025-12-10 07:18:17,053 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-10 07:18:17,054 INFO sqlalchemy.engine.Engine [cached since 0.01304s ago] {'id': 12, 'name': 'Sukuma Wiki (Sautéed Collard Greens)', 'price': 55}
2025-12-10 07:18:17,057 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-10 07:18:17,058 INFO sqlalchemy.engine.Engine [cached since 0.01746s ago] {'id': 13, 'name': 'Mukimo Plain', 'price': 130}
2025-12-10 07:18:17,061 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-10 07:18:17,062 INFO sqlalchemy.engine.Engine [cached since 0.02143s ago] {'id': 14, 'name': 'Avocado', 'price': 50}
2025-12-10 07:18:17,066 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,066 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'id': 10, 'name': 'Tomatoes'}
2025-12-10 07:18:17,069 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,070 INFO sqlalchemy.engine.Engine [cached since 0.004158s ago] {'id': 11, 'name': 'Onions'}
2025-12-10 07:18:17,072 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,073 INFO sqlalchemy.engine.Engine [cached since 0.007778s ago] {'id': 12, 'name': 'Chilli'}
2025-12-10 07:18:17,077 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,078 INFO sqlalchemy.engine.Engine [cached since 0.01243s ago] {'id': 13, 'name': 'Irish Potatoes'}
2025-12-10 07:18:17,081 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,082 INFO sqlalchemy.engine.Engine [cached since 0.01631s ago] {'id': 14, 'name': 'Green Peas'}
2025-12-10 07:18:17,085 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,086 INFO sqlalchemy.engine.Engine [cached since 0.01996s ago] {'id': 15, 'name': 'Soft Green Maize'}
2025-12-10 07:18:17,089 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,090 INFO sqlalchemy.engine.Engine [cached since 0.02398s ago] {'id': 16, 'name': 'Pumpkin Leaves'}
2025-12-10 07:18:17,093 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,094 INFO sqlalchemy.engine.Engine [cached since 0.02842s ago] {'id': 17, 'name': 'Garlic'}
2025-12-10 07:18:17,097 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,098 INFO sqlalchemy.engine.Engine [cached since 0.03266s ago] {'id': 18, 'name': 'Salt'}
2025-12-10 07:18:17,102 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,103 INFO sqlalchemy.engine.Engine [cached since 0.0372s ago] {'id': 19, 'name': 'Avocado'}
2025-12-10 07:18:17,106 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-10 07:18:17,107 INFO sqlalchemy.engine.Engine [cached since 0.04162s ago] {'id': 20, 'name': 'Dhania (Coriander)'}
2025-12-10 07:18:17,111 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,113 INFO sqlalchemy.engine.Engine [generated in 0.00201s] {'side_dish_id': 10, 'side_dish_ingredient_id': 10}
2025-12-10 07:18:17,116 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,118 INFO sqlalchemy.engine.Engine [cached since 0.007548s ago] {'side_dish_id': 10, 'side_dish_ingredient_id': 11}
2025-12-10 07:18:17,122 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,124 INFO sqlalchemy.engine.Engine [cached since 0.01302s ago] {'side_dish_id': 10, 'side_dish_ingredient_id': 12}
2025-12-10 07:18:17,127 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,128 INFO sqlalchemy.engine.Engine [cached since 0.01757s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 18}
2025-12-10 07:18:17,132 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,133 INFO sqlalchemy.engine.Engine [cached since 0.02249s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 10}
2025-12-10 07:18:17,137 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,138 INFO sqlalchemy.engine.Engine [cached since 0.02727s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 11}
2025-12-10 07:18:17,141 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,148 INFO sqlalchemy.engine.Engine [cached since 0.03691s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 19}
2025-12-10 07:18:17,152 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,154 INFO sqlalchemy.engine.Engine [cached since 0.04306s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 13}
2025-12-10 07:18:17,162 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,163 INFO sqlalchemy.engine.Engine [cached since 0.05271s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 14}
2025-12-10 07:18:17,167 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,168 INFO sqlalchemy.engine.Engine [cached since 0.05772s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 15}
2025-12-10 07:18:17,172 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,174 INFO sqlalchemy.engine.Engine [cached since 0.06349s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 16}
2025-12-10 07:18:17,177 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,179 INFO sqlalchemy.engine.Engine [cached since 0.06823s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 18}
2025-12-10 07:18:17,183 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,184 INFO sqlalchemy.engine.Engine [cached since 0.07365s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 19}
2025-12-10 07:18:17,191 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-10 07:18:17,192 INFO sqlalchemy.engine.Engine [cached since 0.08154s ago] {'side_dish_id': 14, 'side_dish_ingredient_id': 19}
2025-12-10 07:18:17,195 INFO sqlalchemy.engine.Engine COMMIT

## Confirm that the Data has been Inserted

### `side_dish`

In [11]:
with Session(engine) as session:
    select_statement = side_dish.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 07:18:17,211 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:17,213 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
2025-12-10 07:18:17,214 INFO sqlalchemy.engine.Engine [cached since 0.4868s ago] {}

   id                                  name  price
0  10                Kachumbari na Pilipili   45.0
1  11                      Kenyan Guacamole   45.0
2  12  Sukuma Wiki (Sautéed Collard Greens)   55.0
3  13                          Mukimo Plain  130.0
4  14                               Avocado   50.0

2025-12-10 07:18:17,225 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_ingredient`

In [12]:
with Session(engine) as session:
    select_statement = side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 07:18:17,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:17,281 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.id, side_dish_ingredient.name
FROM side_dish_ingredient
2025-12-10 07:18:17,282 INFO sqlalchemy.engine.Engine [cached since 0.4847s ago] {}

    id                name
0   10            Tomatoes
1   11              Onions
2   12              Chilli
3   13      Irish Potatoes
4   14          Green Peas
5   15    Soft Green Maize
6   16      Pumpkin Leaves
7   17              Garlic
8   18                Salt
9   19             Avocado
10  20  Dhania (Coriander)

2025-12-10 07:18:17,290 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_and_side_dish_ingredient`

In [13]:
with Session(engine) as session:
    select_statement = side_dish_and_side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 07:18:17,413 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:17,415 INFO sqlalchemy.engine.Engine SELECT side_dish_and_side_dish_ingredient.side_dish_id, side_dish_and_side_dish_ingredient.side_dish_ingredient_id
FROM side_dish_and_side_dish_ingredient
2025-12-10 07:18:17,416 INFO sqlalchemy.engine.Engine [cached since 0.4957s ago] {}

    side_dish_id  side_dish_ingredient_id
0             10                       10
1             11                       10
2             10                       11
3             11                       11
4             10                       12
5             13                       13
6             13                       14
7             13                       15
8             13                       16
9             11                       18
10            13                       18
11            11                       19
12            13                       19
13            14                       19

2025-12-10 07:18:17,426 INFO sqlalchemy.engine.Engine COMMIT

## Querying Data using Joins

## Equijoin

- Select all side dishes and their matching ingredients

In [14]:
with Session(engine) as session:
    join_statement = side_dish.join(
        side_dish_and_side_dish_ingredient,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    ).join(
        side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    )
    select_statement = sqlalchemy.select(
        side_dish.c.name,
        side_dish_ingredient.c.name
    ).select_from(join_statement).order_by(side_dish.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Side Dish", "Ingredients"])
    display(df)
    session.commit()

2025-12-10 07:18:17,554 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:17,557 INFO sqlalchemy.engine.Engine SELECT side_dish.name, side_dish_ingredient.name AS name_1
FROM side_dish INNER JOIN side_dish_and_side_dish_ingredient ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id INNER JOIN side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id ORDER BY side_dish.name
2025-12-10 07:18:17,557 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {}

                 Side Dish       Ingredients
0                  Avocado           Avocado
1   Kachumbari na Pilipili          Tomatoes
2   Kachumbari na Pilipili            Onions
3   Kachumbari na Pilipili            Chilli
4         Kenyan Guacamole          Tomatoes
5         Kenyan Guacamole            Onions
6         Kenyan Guacamole              Salt
7         Kenyan Guacamole           Avocado
8             Mukimo Plain    Irish Potatoes
9             Mukimo Plain        Green Peas
10            Mukimo Plain  Soft Green Maize
11            Mukimo Plain    Pumpkin Leaves
12            Mukimo Plain              Salt
13            Mukimo Plain           Avocado

2025-12-10 07:18:17,565 INFO sqlalchemy.engine.Engine COMMIT

## Left Outer Join

- Select all side dishes and their ingredients, including those without ingredients

In [15]:
with Session(engine) as session:
    join_statement = side_dish.outerjoin(
        side_dish_and_side_dish_ingredient,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    ).outerjoin(
        side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    )
    select_statement = sqlalchemy.select(
        side_dish.c.name,
        side_dish_ingredient.c.name
    ).select_from(join_statement).order_by(side_dish.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Side Dish", "Ingredients"])
    display(df)
    session.commit()

2025-12-10 07:18:17,659 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:17,661 INFO sqlalchemy.engine.Engine SELECT side_dish.name, side_dish_ingredient.name AS name_1
FROM side_dish LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id LEFT OUTER JOIN side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id ORDER BY side_dish.name
2025-12-10 07:18:17,662 INFO sqlalchemy.engine.Engine [generated in 0.00141s] {}

                               Side Dish       Ingredients
0                                Avocado           Avocado
1                 Kachumbari na Pilipili          Tomatoes
2                 Kachumbari na Pilipili            Onions
3                 Kachumbari na Pilipili            Chilli
4                       Kenyan Guacamole          Tomatoes
5                       Kenyan Guacamole            Onions
6                       Kenyan Guacamole              Salt
7                       Kenyan Guacamole           Avocado
8                           Mukimo Plain    Irish Potatoes
9                           Mukimo Plain        Green Peas
10                          Mukimo Plain  Soft Green Maize
11                          Mukimo Plain    Pumpkin Leaves
12                          Mukimo Plain              Salt
13                          Mukimo Plain           Avocado
14  Sukuma Wiki (Sautéed Collard Greens)              None

2025-12-10 07:18:17,672 INFO sqlalchemy.engine.Engine COMMIT

- Select all ingredients and the side dishes they are used to make, including those that are not used to make any side dish

In [16]:
with Session(engine) as session:
    join_statement = side_dish_ingredient.outerjoin(
        side_dish_and_side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    ).outerjoin(
        side_dish,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    )
    select_statement = sqlalchemy.select(
        side_dish_ingredient.c.name,
        side_dish.c.name
    ).select_from(join_statement).order_by(side_dish_ingredient.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredients", "Side Dish"])
    display(df)
    session.commit()

2025-12-10 07:18:17,912 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:17,914 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, side_dish.name AS name_1
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id LEFT OUTER JOIN side_dish ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id ORDER BY side_dish_ingredient.name
2025-12-10 07:18:17,915 INFO sqlalchemy.engine.Engine [generated in 0.00091s] {}

           Ingredients               Side Dish
0              Avocado        Kenyan Guacamole
1              Avocado            Mukimo Plain
2              Avocado                 Avocado
3               Chilli  Kachumbari na Pilipili
4   Dhania (Coriander)                    None
5               Garlic                    None
6           Green Peas            Mukimo Plain
7       Irish Potatoes            Mukimo Plain
8               Onions  Kachumbari na Pilipili
9               Onions        Kenyan Guacamole
10      Pumpkin Leaves            Mukimo Plain
11                Salt        Kenyan Guacamole
12                Salt            Mukimo Plain
13    Soft Green Maize            Mukimo Plain
14            Tomatoes  Kachumbari na Pilipili
15            Tomatoes        Kenyan Guacamole

2025-12-10 07:18:17,922 INFO sqlalchemy.engine.Engine COMMIT

## Aggregate within Groups

![img.png](assets/images/pexels-antonio-filigno-159809-8538296.jpg)

_Source: [link](https://www.pexels.com/photo/sliced-avocado-on-yellow-green-surface-8538296/)_

- Example of how to use GROUP BY to count the number of side dishes that use each ingredient

In [17]:
with Session(engine) as session:
    stmt = (
        sqlalchemy.select(
            side_dish_ingredient.c.name,
            func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).label("Number of Side Dishes")
        )
        .select_from(
            side_dish_ingredient.outerjoin(
                side_dish_and_side_dish_ingredient,
                side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
            )
        )
        .group_by(side_dish_ingredient.c.name)
        .order_by(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).desc())
    )
    result = session.execute(stmt)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredient", "Number of Side Dishes"])
    display(df)
    session.commit()

2025-12-10 07:18:18,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:18,069 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, count(side_dish_and_side_dish_ingredient.side_dish_id) AS `Number of Side Dishes`
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id GROUP BY side_dish_ingredient.name ORDER BY count(side_dish_and_side_dish_ingredient.side_dish_id) DESC
2025-12-10 07:18:18,070 INFO sqlalchemy.engine.Engine [generated in 0.00062s] {}

            Ingredient  Number of Side Dishes
0              Avocado                      3
1             Tomatoes                      2
2               Onions                      2
3                 Salt                      2
4               Chilli                      1
5       Irish Potatoes                      1
6           Green Peas                      1
7     Soft Green Maize                      1
8       Pumpkin Leaves                      1
9               Garlic                      0
10  Dhania (Coriander)                      0

2025-12-10 07:18:18,078 INFO sqlalchemy.engine.Engine COMMIT

- Example of how to use GROUP BY with HAVING to filter ingredients used in more than one side dish

In [18]:
with Session(engine) as session:
    stmt = (
        sqlalchemy.select(
            side_dish_ingredient.c.name,
            func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).label("Number of Side Dishes")
        )
        .select_from(
            side_dish_ingredient.outerjoin(
                side_dish_and_side_dish_ingredient,
                side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
            )
        )
        .group_by(side_dish_ingredient.c.name)
        .having(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id) > 1)
        .order_by(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).desc())
    )
    result = session.execute(stmt)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredient", "Number of Side Dishes"])
    display(df)
    session.commit()

2025-12-10 07:18:18,183 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 07:18:18,185 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, count(side_dish_and_side_dish_ingredient.side_dish_id) AS `Number of Side Dishes`
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id GROUP BY side_dish_ingredient.name
HAVING count(side_dish_and_side_dish_ingredient.side_dish_id) > %(count_1)s ORDER BY count(side_dish_and_side_dish_ingredient.side_dish_id) DESC
2025-12-10 07:18:18,185 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'count_1': 1}

  Ingredient  Number of Side Dishes
0    Avocado                      3
1   Tomatoes                      2
2     Onions                      2
3       Salt                      2

2025-12-10 07:18:18,193 INFO sqlalchemy.engine.Engine COMMIT

## References
SQLAlchemy Project. (2025, December 5). _SQLAlchemy 2.0 Documentation._ SQLAlchemy. https://docs.sqlalchemy.org/en/20/