# SQL Alchemy: Part 2

| Key              | Value                                                                                                                                                                                                                                                                                                                                                          |
|:-----------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Course Codes** | DAT 2201, DAT 3103, BBT 3104, MCS 8104, MIT 8107, BBT 4106                                                                                                                                                                                                                                                                                                     |
| **Course Names** | DAT 2201: Database Design and SQL (Week 1-3 of 13), <br/>DAT 3103: Principles of Data Engineering (Week 1-3 of 13), <br/>BBT 3104: Advanced Database Systems (Week 7-9 of 13), <br/>MCS 8104: Database Management Systems (Week 1-3 of 13), <br/>MIT 8107: Advanced Database Systems (Week 1-3 of 13), <br/>BBT 4106: Business Intelligence I (Week 4-6 of 13) |
| **Semester**     | May to July 2026                                                                                                                                                                                                                                                                                                                                               |
| **Lecturer**     | Allan Omondi                                                                                                                                                                                                                                                                                                                                                   |
| **Contact**      | aomondi@strathmore.edu                                                                                                                                                                                                                                                                                                                                         |
| **Note**         | The lecture contains both theory and practice.<br/>This notebook forms part of the practice.<br/>It is intended for educational purpose only.<br/>Recommended citation: [BibTex](https://raw.githubusercontent.com/course-files/ObjectRelationalMapping/refs/heads/main/RecommendedCitation.bib)                                                               |

In [1]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
from sqlalchemy import MetaData, Table, Column, Integer, String, Float
from sqlalchemy import exc
import sqlalchemy
import pandas as pd

## Sessions

- SQL Alchemy Core works with connections directly, but SQL Alchemy ORM uses sessions to manage the interactions with the database.
- A session is a workspace for your objects and their associated database rows. It keeps track of changes made to objects and coordinates the writing of those changes back to the database.

In [2]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)

**Reminder**

The default approach when using a connection in SQL Alchemy Core is:

`conn = engine.connect()`
```
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO supplier (name, rating) VALUES (:name, :rating)"),
        [{"name": "Narok 41 Ranch", "rating": 4.8}, {"name": "Ngong Green House", "rating": 2}],
    )
    conn.commit()
```

In [3]:
session = Session(engine)

In [4]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO supplier (name, rating) VALUES (:name, :rating)"),
            [{"name": "Limuru Gardens", "rating": 4.1}],
        )
    session.commit()

2025-12-10 15:35:49,374 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:49,376 INFO sqlalchemy.engine.Engine INSERT INTO supplier (name, rating) VALUES (?, ?)
2025-12-10 15:35:49,377 INFO sqlalchemy.engine.Engine [generated in 0.00083s] ('Limuru Gardens', 4.1)
2025-12-10 15:35:49,380 INFO sqlalchemy.engine.Engine COMMIT

## The MetaData Class

- The previous notebook shows the most basic way of working with SQL Alchemy Core. **However**, in practice, you would typically define classes that map to your database tables and use the ORM features to work with those classes instead of writing raw SQL queries. This allows for a more **Pythonic** way of interacting with the database.

- The MetaData class is used to define the database schema. It keeps track of all the information necessary to create tables, constraints, and other database objects.

- The `create_all()` function behaves like a "cautious and conservative craftsman":
  - It only creates tables that are missing.
  - It never overwrites existing tables.
  - It never alters existing columns.
  - It never deletes data.

- This implies that if the table already exists in the database, then running `create_all()` will not modify it in any way. The table will be left untouched and the data intact.

---

- SQLAlchemy still needs the Table object to understand the schema. The Python code does not automatically import the database structure, therefore, you must either:
  - Option A — Define the table manually (what we are doing below). This is the long-term, disciplined way.
  - Option B — **Reflect** the table from the database. This is handy when the database is already built and you do not want to rewrite the schema in code:

### Option A: Manually Defining Table Objects

In [5]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-10 15:35:49,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:49,404 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-10 15:35:49,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,409 INFO sqlalchemy.engine.Engine COMMIT

Test the SQL Alchemy ORM by inserting data into the `product` table.

In [6]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-10 15:35:49,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:49,431 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-10 15:35:49,433 INFO sqlalchemy.engine.Engine [generated in 0.00141s] ('Kachumbari', 40)
2025-12-10 15:35:49,435 INFO sqlalchemy.engine.Engine COMMIT

### ORM Functions

- Instead of writing raw SQL queries, SQL Alchemy ORM provides a set of functions that allow you to build SQL statements programmatically.
- SQL Alchemy ORM also automatically parameterizes the query for you under the hood.

In [7]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-10 15:35:49,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:49,472 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-10 15:35:49,473 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ('Guacamole', 80.0)
2025-12-10 15:35:49,477 INFO sqlalchemy.engine.Engine COMMIT

### Option B: Reflecting Tables from the Database

- Automatic schema discovery sounds nice, but it destroys reproducibility.
- Databases are production assets; you do not want them shifting silently.
- Schema drift is a major cause of system failure. SQLAlchemy is correct not to support automatic synchronization of the database schema.

- If database schema changes are frequent and uncontrolled, then the problem is not SQLAlchemy — it is **the organization's development process.**

In [8]:
meta = MetaData()
supplier = Table("supplier", meta, autoload_with=engine)

2025-12-10 15:35:49,505 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:49,507 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("supplier")
2025-12-10 15:35:49,507 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,510 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-10 15:35:49,511 INFO sqlalchemy.engine.Engine [raw sql] ('supplier',)
2025-12-10 15:35:49,516 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("supplier")
2025-12-10 15:35:49,517 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,518 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("supplier")
2025-12-10 15:35:49,519 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,520 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-10 15:35:49,521 INFO sqlalchemy.engine.Engine [raw sql] ('supplier',)
2025-12-10 15:35:49,525 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("supplier")
2025-12-10 15:35:49,526 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,527 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("supplier")
2025-12-10 15:35:49,528 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,529 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("supplier")
2025-12-10 15:35:49,530 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,532 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("supplier")
2025-12-10 15:35:49,532 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,533 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("supplier")
2025-12-10 15:35:49,534 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,535 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("supplier")
2025-12-10 15:35:49,536 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:49,538 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-10 15:35:49,539 INFO sqlalchemy.engine.Engine [raw sql] ('supplier',)
2025-12-10 15:35:49,542 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
with Session(engine) as session:
    insert_statement = supplier.insert().values(name='Naivasha Florals', rating=3.4)
    result = session.execute(insert_statement)
    session.commit()

2025-12-10 15:35:49,573 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:49,575 INFO sqlalchemy.engine.Engine INSERT INTO supplier (name, rating) VALUES (?, ?)
2025-12-10 15:35:49,576 INFO sqlalchemy.engine.Engine [generated in 0.00128s] ('Naivasha Florals', 3.4)
2025-12-10 15:35:49,579 INFO sqlalchemy.engine.Engine COMMIT

## Switch between different databases with the same ORM code

- SQL Alchemy allows you to switch between different database systems with minimal changes to your code.
- The only requirement is that you need to change the connection string in the `create_engine` function.

- Create the MySQL and PostgreSQL containers using the Docker-Compose file provided in the repository.
- Ensure that the databases `siwaka_dishes` are created in both MySQL and PostgreSQL containers.

### MySQL

In [10]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\aomondi\documents\github\teaching\objectrelationalmapping\.venv\lib\site-packages (1.1.2)

In [11]:
engine = create_engine('mysql+pymysql://root:5trathm0re@127.0.0.1:3307/siwaka_dishes', echo=True)

In [12]:
session = Session(engine)

In [13]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-10 15:35:51,778 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-10 15:35:51,779 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:51,788 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-10 15:35:51,788 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:51,792 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-10 15:35:51,793 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:51,800 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:51,801 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-10 15:35:51,801 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:51,862 INFO sqlalchemy.engine.Engine COMMIT

**Option 1:** Create new data using raw SQL

In [14]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-10 15:35:51,882 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:51,884 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-10 15:35:51,886 INFO sqlalchemy.engine.Engine [generated in 0.00238s] {'name': 'Kachumbari', 'price': 40}
2025-12-10 15:35:51,916 INFO sqlalchemy.engine.Engine COMMIT

**Option 2:** Create new data using the SQL Alchemy ORM (**NOTE: This is the same Python code used above**)

In [15]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-10 15:35:52,016 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:52,020 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-10 15:35:52,022 INFO sqlalchemy.engine.Engine [generated in 0.00241s] {'name': 'Guacamole', 'price': 80}
2025-12-10 15:35:52,031 INFO sqlalchemy.engine.Engine COMMIT

### PostgreSQL

In [16]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\aomondi\documents\github\teaching\objectrelationalmapping\.venv\lib\site-packages (2.9.11)

In [17]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@127.0.0.1:5433/postgres', echo=True)

In [18]:
session = Session(engine)

In [19]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-10 15:35:54,046 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-10 15:35:54,047 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,059 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-10 15:35:54,060 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,069 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-10 15:35:54,071 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,079 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,083 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-10 15:35:54,084 INFO sqlalchemy.engine.Engine [generated in 0.00094s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-10 15:35:54,109 INFO sqlalchemy.engine.Engine COMMIT

**Option 1:** Create new data using raw SQL

In [20]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-10 15:35:54,132 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,133 INFO sqlalchemy.engine.Engine INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-10 15:35:54,134 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {'name': 'Kachumbari', 'price': 40}
2025-12-10 15:35:54,168 INFO sqlalchemy.engine.Engine COMMIT

**Option 2:** Create new data using the SQL Alchemy ORM (**NOTE: This is the same Python code used above**)

In [21]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-10 15:35:54,256 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,259 INFO sqlalchemy.engine.Engine INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (%(name)s, %(price)s) RETURNING siwaka_dishes.side_dish.id
2025-12-10 15:35:54,260 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {'name': 'Guacamole', 'price': 80}
2025-12-10 15:35:54,266 INFO sqlalchemy.engine.Engine COMMIT

## CRUD + Database Transactions

- You need to execute the `meta.create_all(engine)` code after connecting to each new database system.
- This ensures that the required tables (and schemas, if specified) are created in that specific database. If you skip this step, the tables may not exist, leading to a "no such table" error.

### Create

#### SQLite

In [22]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [23]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-10 15:35:54,443 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,444 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-10 15:35:54,445 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:54,447 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Mukimo', price=150)
    result = session.execute(insert_statement)
    session.commit()

2025-12-10 15:35:54,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,480 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-10 15:35:54,481 INFO sqlalchemy.engine.Engine [generated in 0.00125s] ('Mukimo', 150.0)
2025-12-10 15:35:54,485 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [25]:
engine = create_engine('mysql+pymysql://root:5trathm0re@127.0.0.1:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [26]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-10 15:35:54,550 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-10 15:35:54,551 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,558 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-10 15:35:54,559 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,563 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-10 15:35:54,564 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,572 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-10 15:35:54,574 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,583 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Mukimo', price=150)
    result = session.execute(insert_statement)
    session.commit()

2025-12-10 15:35:54,602 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,604 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-10 15:35:54,605 INFO sqlalchemy.engine.Engine [generated in 0.00106s] {'name': 'Mukimo', 'price': 150}
2025-12-10 15:35:54,613 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [28]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@127.0.0.1:5433/postgres', echo=True)
session = Session(engine)

In [29]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-10 15:35:54,714 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-10 15:35:54,715 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,721 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-10 15:35:54,721 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,726 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-10 15:35:54,727 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:54,730 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,733 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-10 15:35:54,734 INFO sqlalchemy.engine.Engine [generated in 0.00125s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-10 15:35:54,746 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Mukimo', price=150)
    result = session.execute(insert_statement)
    session.commit()

2025-12-10 15:35:54,764 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,765 INFO sqlalchemy.engine.Engine INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (%(name)s, %(price)s) RETURNING siwaka_dishes.side_dish.id
2025-12-10 15:35:54,766 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {'name': 'Mukimo', 'price': 150}
2025-12-10 15:35:54,775 INFO sqlalchemy.engine.Engine COMMIT

### Read

#### SQLite

In [31]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [32]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-10 15:35:54,827 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,828 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-10 15:35:54,829 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:54,831 INFO sqlalchemy.engine.Engine COMMIT

In [33]:
with Session(engine) as session:
    select_statement = side_dish.select().where(side_dish.c.price > 60)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:35:54,859 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:54,861 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
WHERE side_dish.price > ?
2025-12-10 15:35:54,862 INFO sqlalchemy.engine.Engine [generated in 0.00083s] (60,)

   id          name  price
0  13  Mukimo Plain  130.0
1  16     Guacamole   80.0
2  17        Mukimo  150.0

2025-12-10 15:35:54,897 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [34]:
engine = create_engine('mysql+pymysql://root:5trathm0re@127.0.0.1:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [35]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-10 15:35:55,054 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-10 15:35:55,055 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,062 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-10 15:35:55,063 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,066 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-10 15:35:55,067 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,073 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,074 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-10 15:35:55,076 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,085 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
with Session(engine) as session:
    select_statement = side_dish.select().where(side_dish.c.price > 60)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:35:55,104 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,106 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
WHERE side_dish.price > %(price_1)s
2025-12-10 15:35:55,107 INFO sqlalchemy.engine.Engine [generated in 0.00069s] {'price_1': 60}

   id          name  price
0  13  Mukimo Plain  130.0
1  16     Guacamole   80.0
2  17        Mukimo  150.0

2025-12-10 15:35:55,120 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [37]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@127.0.0.1:5433/postgres', echo=True)
session = Session(engine)

In [38]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-10 15:35:55,330 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-10 15:35:55,331 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,336 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-10 15:35:55,337 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,342 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-10 15:35:55,343 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,349 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-10 15:35:55,350 INFO sqlalchemy.engine.Engine [generated in 0.00099s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-10 15:35:55,361 INFO sqlalchemy.engine.Engine COMMIT

In [39]:
with Session(engine) as session:
    select_statement = side_dish.select().where(side_dish.c.price > 60)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:35:55,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,389 INFO sqlalchemy.engine.Engine SELECT siwaka_dishes.side_dish.id, siwaka_dishes.side_dish.name, siwaka_dishes.side_dish.price
FROM siwaka_dishes.side_dish
WHERE siwaka_dishes.side_dish.price > %(price_1)s
2025-12-10 15:35:55,390 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {'price_1': 60}

   id          name  price
0  13  Mukimo Plain  130.0
1   2     Guacamole   80.0
2   3        Mukimo  150.0

2025-12-10 15:35:55,402 INFO sqlalchemy.engine.Engine COMMIT

### Update

#### SQLite

In [40]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [41]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-10 15:35:55,551 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,552 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-10 15:35:55,553 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:55,556 INFO sqlalchemy.engine.Engine COMMIT

In [42]:
with Session(engine) as session:
    update_statement = side_dish.update().where(side_dish.c.name == 'Kachumbari').values(name='Kachumbari na pilipili', price=45)
    result = session.execute(update_statement)
    session.commit()

2025-12-10 15:35:55,594 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,596 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=?, price=? WHERE side_dish.name = ?
2025-12-10 15:35:55,596 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ('Kachumbari na pilipili', 45.0, 'Kachumbari')
2025-12-10 15:35:55,599 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [43]:
engine = create_engine('mysql+pymysql://root:5trathm0re@127.0.0.1:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [44]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-10 15:35:55,669 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-10 15:35:55,669 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,674 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-10 15:35:55,675 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,678 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-10 15:35:55,679 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,685 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,685 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-10 15:35:55,686 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,692 INFO sqlalchemy.engine.Engine COMMIT

In [45]:
with Session(engine) as session:
    update_statement = side_dish.update().where(side_dish.c.name == 'Kachumbari').values(name='Kachumbari na pilipili', price=45)
    result = session.execute(update_statement)
    session.commit()

2025-12-10 15:35:55,710 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,711 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=%(name)s, price=%(price)s WHERE side_dish.name = %(name_1)s
2025-12-10 15:35:55,712 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {'name': 'Kachumbari na pilipili', 'price': 45, 'name_1': 'Kachumbari'}
2025-12-10 15:35:55,721 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [46]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@127.0.0.1:5433/postgres', echo=True)
session = Session(engine)

In [47]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-10 15:35:55,825 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-10 15:35:55,826 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,831 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-10 15:35:55,832 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,836 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-10 15:35:55,837 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:55,842 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,845 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-10 15:35:55,846 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-10 15:35:55,856 INFO sqlalchemy.engine.Engine COMMIT

In [48]:
with Session(engine) as session:
    update_statement = side_dish.update().where(side_dish.c.name == 'Kachumbari').values(name='Kachumbari na pilipili', price=45)
    result = session.execute(update_statement)
    session.commit()

2025-12-10 15:35:55,875 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,878 INFO sqlalchemy.engine.Engine UPDATE siwaka_dishes.side_dish SET name=%(name)s, price=%(price)s WHERE siwaka_dishes.side_dish.name = %(name_1)s
2025-12-10 15:35:55,879 INFO sqlalchemy.engine.Engine [generated in 0.00097s] {'name': 'Kachumbari na pilipili', 'price': 45, 'name_1': 'Kachumbari'}
2025-12-10 15:35:55,900 INFO sqlalchemy.engine.Engine COMMIT

### Delete

#### SQLite

In [49]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [50]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-10 15:35:55,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,933 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-10 15:35:55,933 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:55,935 INFO sqlalchemy.engine.Engine COMMIT

In [51]:
with Session(engine) as session:
    delete_statement = side_dish.delete().where(side_dish.c.name == 'Guacamole')
    result = session.execute(delete_statement)
    session.commit()

2025-12-10 15:35:55,965 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:55,967 INFO sqlalchemy.engine.Engine DELETE FROM side_dish WHERE side_dish.name = ?
2025-12-10 15:35:55,968 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ('Guacamole',)
2025-12-10 15:35:55,971 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [52]:
engine = create_engine('mysql+pymysql://root:5trathm0re@127.0.0.1:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [53]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-10 15:35:56,031 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-10 15:35:56,032 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,035 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-10 15:35:56,037 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,040 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-10 15:35:56,041 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,045 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,046 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-10 15:35:56,047 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,052 INFO sqlalchemy.engine.Engine COMMIT

In [54]:
with Session(engine) as session:
    delete_statement = side_dish.delete().where(side_dish.c.name == 'Guacamole')
    result = session.execute(delete_statement)
    session.commit()

2025-12-10 15:35:56,070 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,071 INFO sqlalchemy.engine.Engine DELETE FROM side_dish WHERE side_dish.name = %(name_1)s
2025-12-10 15:35:56,072 INFO sqlalchemy.engine.Engine [generated in 0.00108s] {'name_1': 'Guacamole'}
2025-12-10 15:35:56,080 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [55]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@127.0.0.1:5433/postgres', echo=True)
session = Session(engine)

In [56]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-10 15:35:56,176 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-10 15:35:56,176 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,185 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-10 15:35:56,187 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,199 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-10 15:35:56,200 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,209 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,212 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-10 15:35:56,214 INFO sqlalchemy.engine.Engine [generated in 0.00304s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-10 15:35:56,227 INFO sqlalchemy.engine.Engine COMMIT

In [57]:
with Session(engine) as session:
    delete_statement = side_dish.delete().where(side_dish.c.name == 'Guacamole')
    result = session.execute(delete_statement)
    session.commit()

2025-12-10 15:35:56,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,245 INFO sqlalchemy.engine.Engine DELETE FROM siwaka_dishes.side_dish WHERE siwaka_dishes.side_dish.name = %(name_1)s
2025-12-10 15:35:56,245 INFO sqlalchemy.engine.Engine [generated in 0.00078s] {'name_1': 'Guacamole'}
2025-12-10 15:35:56,275 INFO sqlalchemy.engine.Engine COMMIT

### Database Transaction

#### SQLite

In [58]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [59]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-10 15:35:56,307 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,308 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-10 15:35:56,308 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:35:56,310 INFO sqlalchemy.engine.Engine COMMIT

In [60]:
with Session(engine) as session:
    trans = session.begin()
    try:
        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari bila pilipili', price=40)
        result = session.execute(update_statement)

        savepoint_1 = session.begin_nested()

        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari plain', price=30)
        result = session.execute(update_statement)

        savepoint_2 = session.begin_nested()

        savepoint_1.rollback()

        trans.commit()
    except sqlalchemy.exc.SQLAlchemyError:
        trans.rollback()
        print("Transaction rolled back")

2025-12-10 15:35:56,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,336 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=?, price=? WHERE side_dish.id = ?
2025-12-10 15:35:56,337 INFO sqlalchemy.engine.Engine [generated in 0.00106s] ('Kachumbari bila pilipili', 40.0, '1')
2025-12-10 15:35:56,339 INFO sqlalchemy.engine.Engine SAVEPOINT sa_savepoint_1
2025-12-10 15:35:56,342 INFO sqlalchemy.engine.Engine [no key 0.00257s] ()
2025-12-10 15:35:56,343 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=?, price=? WHERE side_dish.id = ?
2025-12-10 15:35:56,344 INFO sqlalchemy.engine.Engine [cached since 0.008162s ago] ('Kachumbari plain', 30.0, '1')
2025-12-10 15:35:56,345 INFO sqlalchemy.engine.Engine ROLLBACK TO SAVEPOINT sa_savepoint_1
2025-12-10 15:35:56,345 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2025-12-10 15:35:56,346 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [61]:
engine = create_engine('mysql+pymysql://root:5trathm0re@127.0.0.1:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [62]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-10 15:35:56,528 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-10 15:35:56,528 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,536 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-10 15:35:56,537 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,541 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-10 15:35:56,543 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,548 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,549 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-10 15:35:56,550 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,560 INFO sqlalchemy.engine.Engine COMMIT

In [63]:
import sqlalchemy

with Session(engine) as session:
    trans = session.begin()
    try:
        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari bila pilipili', price=40)
        result = session.execute(update_statement)

        savepoint_1 = session.begin_nested()

        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari plain', price=30)
        result = session.execute(update_statement)

        savepoint_2 = session.begin_nested()

        savepoint_1.rollback()

        trans.commit()
    except sqlalchemy.exc.SQLAlchemyError:
        trans.rollback()
        print("Transaction rolled back")

2025-12-10 15:35:56,579 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,583 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=%(name)s, price=%(price)s WHERE side_dish.id = %(id_1)s
2025-12-10 15:35:56,584 INFO sqlalchemy.engine.Engine [generated in 0.00172s] {'name': 'Kachumbari bila pilipili', 'price': 40, 'id_1': '1'}
2025-12-10 15:35:56,593 INFO sqlalchemy.engine.Engine SAVEPOINT sa_savepoint_1
2025-12-10 15:35:56,594 INFO sqlalchemy.engine.Engine [no key 0.00100s] {}
2025-12-10 15:35:56,597 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=%(name)s, price=%(price)s WHERE side_dish.id = %(id_1)s
2025-12-10 15:35:56,598 INFO sqlalchemy.engine.Engine [cached since 0.01512s ago] {'name': 'Kachumbari plain', 'price': 30, 'id_1': '1'}
2025-12-10 15:35:56,601 INFO sqlalchemy.engine.Engine ROLLBACK TO SAVEPOINT sa_savepoint_1
2025-12-10 15:35:56,602 INFO sqlalchemy.engine.Engine [no key 0.00078s] {}
2025-12-10 15:35:56,605 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [64]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@127.0.0.1:5433/postgres', echo=True)
session = Session(engine)

In [65]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-10 15:35:56,726 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-10 15:35:56,727 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,734 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-10 15:35:56,735 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,742 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-10 15:35:56,743 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-10 15:35:56,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,754 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-10 15:35:56,755 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-10 15:35:56,767 INFO sqlalchemy.engine.Engine COMMIT

In [66]:
with Session(engine) as session:
    trans = session.begin()
    try:
        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari bila pilipili', price=40)
        result = session.execute(update_statement)

        savepoint_1 = session.begin_nested()

        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari plain', price=30)
        result = session.execute(update_statement)

        savepoint_2 = session.begin_nested()

        savepoint_1.rollback()

        trans.commit()
    except sqlalchemy.exc.SQLAlchemyError:
        trans.rollback()
        print("Transaction rolled back")

2025-12-10 15:35:56,783 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:35:56,784 INFO sqlalchemy.engine.Engine UPDATE siwaka_dishes.side_dish SET name=%(name)s, price=%(price)s WHERE siwaka_dishes.side_dish.id = %(id_1)s
2025-12-10 15:35:56,785 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {'name': 'Kachumbari bila pilipili', 'price': 40, 'id_1': '1'}
2025-12-10 15:35:56,796 INFO sqlalchemy.engine.Engine SAVEPOINT sa_savepoint_1
2025-12-10 15:35:56,797 INFO sqlalchemy.engine.Engine [no key 0.00078s] {}
2025-12-10 15:35:56,800 INFO sqlalchemy.engine.Engine UPDATE siwaka_dishes.side_dish SET name=%(name)s, price=%(price)s WHERE siwaka_dishes.side_dish.id = %(id_1)s
2025-12-10 15:35:56,801 INFO sqlalchemy.engine.Engine [cached since 0.01735s ago] {'name': 'Kachumbari plain', 'price': 30, 'id_1': '1'}
2025-12-10 15:35:56,808 INFO sqlalchemy.engine.Engine ROLLBACK TO SAVEPOINT sa_savepoint_1
2025-12-10 15:35:56,809 INFO sqlalchemy.engine.Engine [no key 0.00089s] {}
2025-12-10 15:35:56,814 INFO sqlalchemy.engine.Engine COMMIT

## Close the Session

In [68]:
session.close()

## References
SQLAlchemy Project. (2025, December 5). _SQLAlchemy 2.0 Documentation._ SQLAlchemy. https://docs.sqlalchemy.org/en/20/