# SQLAlchemy Core: Part 2

In [5]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
from sqlalchemy import MetaData, Table, Column, Integer, String, Float

## Sessions

- SQL Alchemy Core works with connections directly, but SQL Alchemy ORM uses sessions to manage the interactions with the database.
- A session is a workspace for your objects and their associated database rows. It keeps track of changes made to objects and coordinates the writing of those changes back to the database.

In [18]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)

The default approach when using a connection is:

`conn = engine.connect()`
```
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO supplier (name, rating) VALUES (:name, :rating)"),
        [{"name": "Narok 41 Ranch", "rating": 4.8}, {"name": "Ngong Green House", "rating": 2}],
    )
    conn.commit()
```

In [19]:
session = Session(engine)

In [4]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO supplier (name, rating) VALUES (:name, :rating)"),
            [{"name": "Limuru Gardens", "rating": 4.1}],
        )
    session.commit()

2025-12-08 10:25:48,239 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 10:25:48,242 INFO sqlalchemy.engine.Engine INSERT INTO supplier (name, rating) VALUES (?, ?)
2025-12-08 10:25:48,243 INFO sqlalchemy.engine.Engine [generated in 0.00081s] ('Limuru Gardens', 4.1)
2025-12-08 10:25:48,248 INFO sqlalchemy.engine.Engine COMMIT

## The MetaData Class

- The previous notebook shows the most basic way of working with SQL Alchemy Core. In practice, you would typically define classes that map to your database tables and use the ORM features to work with those classes instead of writing raw SQL queries. This allows for a more **Pythonic** way of interacting with the database.

- The MetaData class is used to define the database schema. It keeps track of all the information necessary to create tables, constraints, and other database objects.

In [9]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-08 12:16:25,702 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 12:16:25,716 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-08 12:16:25,719 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-08 12:16:25,728 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("side_dish")
2025-12-08 12:16:25,730 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-08 12:16:25,762 INFO sqlalchemy.engine.Engine
CREATE TABLE side_dish (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	price FLOAT,
	PRIMARY KEY (id)
)


2025-12-08 12:16:25,764 INFO sqlalchemy.engine.Engine [no key 0.00358s] ()
2025-12-08 12:16:25,781 INFO sqlalchemy.engine.Engine COMMIT

Test the SQL Alchemy ORM by inserting data into the `product` table.

In [10]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-08 12:16:51,354 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 12:16:51,358 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-08 12:16:51,361 INFO sqlalchemy.engine.Engine [generated in 0.00318s] ('Kachumbari', 40)
2025-12-08 12:16:51,370 INFO sqlalchemy.engine.Engine COMMIT

- Instead of writing raw SQL queries, SQL Alchemy provides a set of functions that allow you to build SQL statements programmatically.

### Create

- SQLAlchemy automatically parameterizes the query for you under the hood.

In [20]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-08 12:30:25,617 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 12:30:25,738 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-08 12:30:25,745 INFO sqlalchemy.engine.Engine [generated in 0.01929s] ('Guacamole', 80.0)
2025-12-08 12:30:25,766 INFO sqlalchemy.engine.Engine COMMIT

## Switch between different databases with the same Python code
SQL Alchemy allows you to switch between different database backends with minimal changes to your code. You just need to change the connection string in the `create_engine` function.

### MySQL

In [12]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [21]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)

In [22]:
session = Session(engine)

In [23]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-08 12:31:07,880 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-08 12:31:07,881 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-08 12:31:07,910 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-08 12:31:07,912 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-08 12:31:07,924 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-08 12:31:07,925 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-08 12:31:07,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 12:31:07,946 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-08 12:31:07,948 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-08 12:31:08,249 INFO sqlalchemy.engine.Engine COMMIT

**Option 1:** Create new data using raw SQL

In [17]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-08 12:23:00,529 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 12:23:00,595 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-08 12:23:00,602 INFO sqlalchemy.engine.Engine [generated in 0.01577s] {'name': 'Kachumbari', 'price': 40}
2025-12-08 12:23:00,662 INFO sqlalchemy.engine.Engine COMMIT

**Option 2:** Create new data using the SQL Alchemy ORM (the same Python code)

In [24]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-08 12:31:29,158 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 12:31:29,187 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-08 12:31:29,190 INFO sqlalchemy.engine.Engine [generated in 0.00605s] {'name': 'Guacamole', 'price': 80}
2025-12-08 12:31:29,256 INFO sqlalchemy.engine.Engine COMMIT

### PostgreSQL

In [26]:
!pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Using cached psycopg2-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.11

In [ ]:
engine = create_engine('postgresql+psycopg2://root:5trathm0re@localhost:5432/siwaka_dishes', echo=True)

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float
from sqlalchemy.orm import Session

engine = create_engine('postgresql+psycopg2://root:5trathm0re@localhost:5432/siwaka_dishes', echo=True)
session = Session(engine)
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('price', Float)
)

meta.create_all(engine)

## References
SQLAlchemy Project. (2025, December 5). _SQLAlchemy 2.0 Documentation._ SQLAlchemy. https://docs.sqlalchemy.org/en/20/