# SQL Alchemy: Part 3

| Key              | Value                                                                                                                                                                                                                                                                                                                                                          |
|:-----------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Course Codes** | DAT 2201, DAT 3103, BBT 3104, MCS 8104, MIT 8107, BBT 4106                                                                                                                                                                                                                                                                                                     |
| **Course Names** | DAT 2201: Database Design and SQL (Week 1-3 of 13), <br/>DAT 3103: Principles of Data Engineering (Week 1-3 of 13), <br/>BBT 3104: Advanced Database Systems (Week 7-9 of 13), <br/>MCS 8104: Database Management Systems (Week 1-3 of 13), <br/>MIT 8107: Advanced Database Systems (Week 1-3 of 13), <br/>BBT 4106: Business Intelligence I (Week 4-6 of 13) |
| **Semester**     | May to July 2026                                                                                                                                                                                                                                                                                                                                               |
| **Lecturer**     | Allan Omondi                                                                                                                                                                                                                                                                                                                                                   |
| **Contact**      | aomondi@strathmore.edu                                                                                                                                                                                                                                                                                                                                         |
| **Note**         | The lecture contains both theory and practice.<br/>This notebook forms part of the practice.<br/>It is intended for educational purpose only.<br/>Recommended citation: [BibTex](https://raw.githubusercontent.com/course-files/ObjectRelationalMapping/refs/heads/main/RecommendedCitation.bib)                                                               |

## Modelling Relationships using SQL Alchemy

In [92]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
from sqlalchemy import MetaData, Table, Column, Integer, String, Float, Text
from sqlalchemy import ForeignKey, func
from sqlalchemy import exc
import sqlalchemy
import pandas as pd

### An SQLite Engine

In [93]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

### A MySQL Engine

In [94]:
# engine = create_engine('mysql+pymysql://root:5trathm0re@127.0.0.1:3307/siwaka_dishes', echo=True)
# session = Session(engine)

### A PostgreSQL Engine

- We can set the schema to use when creating the engine as opposed to editing the metadata object later to set the schema.
- The `%3d` is the URL-encoded `=` sign

In [95]:
# engine = create_engine(
#     "postgresql+psycopg2://postgres:5trathm0re@127.0.0.1:5433/postgres?options=-csearch_path%3dsiwaka_dishes",
#     echo=True
# )
# session = Session(engine)

In [96]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('price', Float)
)

side_dish_ingredient = Table(
    "side_dish_ingredient",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False)
)

side_dish_and_side_dish_ingredient = Table(
    "side_dish_and_side_dish_ingredient",
    meta,
    Column('side_dish_id', Integer, ForeignKey('side_dish.id'), nullable=False, primary_key=True),
    Column('side_dish_ingredient_id', Integer, ForeignKey('side_dish_ingredient.id'), nullable=False, primary_key=True)
)

meta.create_all(engine)

2025-12-10 15:38:11,888 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:11,889 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-10 15:38:11,890 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:38:11,892 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish_ingredient")
2025-12-10 15:38:11,893 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:38:11,896 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish_and_side_dish_ingredient")
2025-12-10 15:38:11,896 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-10 15:38:11,898 INFO sqlalchemy.engine.Engine COMMIT

## Truncate the Data in the Tables to Start Afresh

In [97]:
with Session(engine) as session:
    delete_statement = side_dish_and_side_dish_ingredient.delete()
    result = session.execute(delete_statement)
    session.commit()

with Session(engine) as session:
    delete_statement = side_dish_ingredient.delete()
    result = session.execute(delete_statement)
    session.commit()

with Session(engine) as session:
    delete_statement = side_dish.delete()
    result = session.execute(delete_statement)
    session.commit()

2025-12-10 15:38:11,942 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:11,943 INFO sqlalchemy.engine.Engine DELETE FROM side_dish_and_side_dish_ingredient
2025-12-10 15:38:11,944 INFO sqlalchemy.engine.Engine [generated in 0.00096s] ()
2025-12-10 15:38:11,946 INFO sqlalchemy.engine.Engine COMMIT
2025-12-10 15:38:11,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:11,954 INFO sqlalchemy.engine.Engine DELETE FROM side_dish_ingredient
2025-12-10 15:38:11,955 INFO sqlalchemy.engine.Engine [generated in 0.00089s] ()
2025-12-10 15:38:11,958 INFO sqlalchemy.engine.Engine COMMIT
2025-12-10 15:38:11,964 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:11,966 INFO sqlalchemy.engine.Engine DELETE FROM side_dish
2025-12-10 15:38:11,966 INFO sqlalchemy.engine.Engine [generated in 0.00082s] ()
2025-12-10 15:38:11,969 INFO sqlalchemy.engine.Engine COMMIT

## Confirm that the Tables are Empty

### `side_dish`

In [98]:
with Session(engine) as session:
    select_statement = side_dish.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:38:11,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:11,996 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
2025-12-10 15:38:11,997 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ()

Empty DataFrame
Columns: [id, name, price]
Index: []

2025-12-10 15:38:12,004 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_ingredient`

In [99]:
with Session(engine) as session:
    select_statement = side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:38:12,034 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,035 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.id, side_dish_ingredient.name
FROM side_dish_ingredient
2025-12-10 15:38:12,036 INFO sqlalchemy.engine.Engine [generated in 0.00080s] ()

Empty DataFrame
Columns: [id, name]
Index: []

2025-12-10 15:38:12,042 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_and_side_dish_ingredient`

In [100]:
with Session(engine) as session:
    select_statement = side_dish_and_side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:38:12,154 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,155 INFO sqlalchemy.engine.Engine SELECT side_dish_and_side_dish_ingredient.side_dish_id, side_dish_and_side_dish_ingredient.side_dish_ingredient_id
FROM side_dish_and_side_dish_ingredient
2025-12-10 15:38:12,156 INFO sqlalchemy.engine.Engine [generated in 0.00075s] ()

Empty DataFrame
Columns: [side_dish_id, side_dish_ingredient_id]
Index: []

2025-12-10 15:38:12,162 INFO sqlalchemy.engine.Engine COMMIT

## Insert Data into Related Tables

In [101]:
with Session(engine) as session:
    session.execute(side_dish.insert().values(id=10, name='Kachumbari na Pilipili', price=45))
    session.execute(side_dish.insert().values(id=11, name='Kenyan Guacamole', price=45))
    session.execute(side_dish.insert().values(id=12, name='Sukuma Wiki (Sautéed Collard Greens)', price=55))
    session.execute(side_dish.insert().values(id=13, name='Mukimo Plain', price=130))
    session.execute(side_dish.insert().values(id=14, name='Avocado', price=50))

    ingredients = [
        {'id': 10, 'name': 'Tomatoes'},
        {'id': 11, 'name': 'Onions'},
        {'id': 12, 'name': 'Chilli'},
        {'id': 13, 'name': 'Irish Potatoes'},
        {'id': 14, 'name': 'Green Peas'},
        {'id': 15, 'name': 'Soft Green Maize'},
        {'id': 16, 'name': 'Pumpkin Leaves'},
        {'id': 17, 'name': 'Garlic'},
        {'id': 18, 'name': 'Salt'},
        {'id': 19, 'name': 'Avocado'},
        {'id': 20, 'name': 'Dhania (Coriander)'}
    ]

    for ingredient in ingredients:
        session.execute(side_dish_ingredient.insert().values(**ingredient))

    recipe = [
        {'side_dish_id': 10, 'side_dish_ingredient_id': 10},
        {'side_dish_id': 10, 'side_dish_ingredient_id': 11},
        {'side_dish_id': 10, 'side_dish_ingredient_id': 12},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 18},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 10},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 11},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 19},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 13},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 14},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 15},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 16},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 18},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 19},
        {'side_dish_id': 14, 'side_dish_ingredient_id': 19}
    ]

    for item in recipe:
        session.execute(side_dish_and_side_dish_ingredient.insert().values(**item))
    session.commit()

2025-12-10 15:38:12,240 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,242 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (?, ?, ?)
2025-12-10 15:38:12,244 INFO sqlalchemy.engine.Engine [generated in 0.00189s] (10, 'Kachumbari na Pilipili', 45.0)
2025-12-10 15:38:12,246 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (?, ?, ?)
2025-12-10 15:38:12,247 INFO sqlalchemy.engine.Engine [cached since 0.00519s ago] (11, 'Kenyan Guacamole', 45.0)
2025-12-10 15:38:12,248 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (?, ?, ?)
2025-12-10 15:38:12,249 INFO sqlalchemy.engine.Engine [cached since 0.007099s ago] (12, 'Sukuma Wiki (Sautéed Collard Greens)', 55.0)
2025-12-10 15:38:12,250 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (?, ?, ?)
2025-12-10 15:38:12,251 INFO sqlalchemy.engine.Engine [cached since 0.008901s ago] (13, 'Mukimo Plain', 130.0)
2025-12-10 15:38:12,253 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (?, ?, ?)
2025-12-10 15:38:12,254 INFO sqlalchemy.engine.Engine [cached since 0.01225s ago] (14, 'Avocado', 50.0)
2025-12-10 15:38:12,256 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,257 INFO sqlalchemy.engine.Engine [generated in 0.00087s] (10, 'Tomatoes')
2025-12-10 15:38:12,259 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,260 INFO sqlalchemy.engine.Engine [cached since 0.00364s ago] (11, 'Onions')
2025-12-10 15:38:12,261 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,262 INFO sqlalchemy.engine.Engine [cached since 0.005516s ago] (12, 'Chilli')
2025-12-10 15:38:12,263 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,263 INFO sqlalchemy.engine.Engine [cached since 0.006951s ago] (13, 'Irish Potatoes')
2025-12-10 15:38:12,264 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,265 INFO sqlalchemy.engine.Engine [cached since 0.008346s ago] (14, 'Green Peas')
2025-12-10 15:38:12,266 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,266 INFO sqlalchemy.engine.Engine [cached since 0.01004s ago] (15, 'Soft Green Maize')
2025-12-10 15:38:12,267 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,268 INFO sqlalchemy.engine.Engine [cached since 0.01203s ago] (16, 'Pumpkin Leaves')
2025-12-10 15:38:12,270 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,270 INFO sqlalchemy.engine.Engine [cached since 0.01394s ago] (17, 'Garlic')
2025-12-10 15:38:12,271 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,272 INFO sqlalchemy.engine.Engine [cached since 0.01561s ago] (18, 'Salt')
2025-12-10 15:38:12,274 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,274 INFO sqlalchemy.engine.Engine [cached since 0.01816s ago] (19, 'Avocado')
2025-12-10 15:38:12,276 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (?, ?)
2025-12-10 15:38:12,276 INFO sqlalchemy.engine.Engine [cached since 0.02016s ago] (20, 'Dhania (Coriander)')
2025-12-10 15:38:12,278 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,278 INFO sqlalchemy.engine.Engine [generated in 0.00071s] (10, 10)
2025-12-10 15:38:12,280 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,281 INFO sqlalchemy.engine.Engine [cached since 0.003074s ago] (10, 11)
2025-12-10 15:38:12,282 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,283 INFO sqlalchemy.engine.Engine [cached since 0.005007s ago] (10, 12)
2025-12-10 15:38:12,283 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,284 INFO sqlalchemy.engine.Engine [cached since 0.006573s ago] (11, 18)
2025-12-10 15:38:12,285 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,286 INFO sqlalchemy.engine.Engine [cached since 0.00811s ago] (11, 10)
2025-12-10 15:38:12,287 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,287 INFO sqlalchemy.engine.Engine [cached since 0.009819s ago] (11, 11)
2025-12-10 15:38:12,288 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,289 INFO sqlalchemy.engine.Engine [cached since 0.01143s ago] (11, 19)
2025-12-10 15:38:12,290 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,291 INFO sqlalchemy.engine.Engine [cached since 0.01337s ago] (13, 13)
2025-12-10 15:38:12,292 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,293 INFO sqlalchemy.engine.Engine [cached since 0.01533s ago] (13, 14)
2025-12-10 15:38:12,295 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,295 INFO sqlalchemy.engine.Engine [cached since 0.01778s ago] (13, 15)
2025-12-10 15:38:12,297 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,297 INFO sqlalchemy.engine.Engine [cached since 0.01979s ago] (13, 16)
2025-12-10 15:38:12,298 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,299 INFO sqlalchemy.engine.Engine [cached since 0.02153s ago] (13, 18)
2025-12-10 15:38:12,300 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,301 INFO sqlalchemy.engine.Engine [cached since 0.02342s ago] (13, 19)
2025-12-10 15:38:12,302 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (?, ?)
2025-12-10 15:38:12,303 INFO sqlalchemy.engine.Engine [cached since 0.02558s ago] (14, 19)
2025-12-10 15:38:12,304 INFO sqlalchemy.engine.Engine COMMIT

## Confirm that the Data has been Inserted

### `side_dish`

In [102]:
with Session(engine) as session:
    select_statement = side_dish.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:38:12,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,340 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
2025-12-10 15:38:12,341 INFO sqlalchemy.engine.Engine [cached since 0.3455s ago] ()

   id                                  name  price
0  10                Kachumbari na Pilipili   45.0
1  11                      Kenyan Guacamole   45.0
2  12  Sukuma Wiki (Sautéed Collard Greens)   55.0
3  13                          Mukimo Plain  130.0
4  14                               Avocado   50.0

2025-12-10 15:38:12,348 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_ingredient`

In [103]:
with Session(engine) as session:
    select_statement = side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:38:12,405 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,406 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.id, side_dish_ingredient.name
FROM side_dish_ingredient
2025-12-10 15:38:12,407 INFO sqlalchemy.engine.Engine [cached since 0.3719s ago] ()

    id                name
0   10            Tomatoes
1   11              Onions
2   12              Chilli
3   13      Irish Potatoes
4   14          Green Peas
5   15    Soft Green Maize
6   16      Pumpkin Leaves
7   17              Garlic
8   18                Salt
9   19             Avocado
10  20  Dhania (Coriander)

2025-12-10 15:38:12,415 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_and_side_dish_ingredient`

In [104]:
with Session(engine) as session:
    select_statement = side_dish_and_side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-10 15:38:12,579 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,581 INFO sqlalchemy.engine.Engine SELECT side_dish_and_side_dish_ingredient.side_dish_id, side_dish_and_side_dish_ingredient.side_dish_ingredient_id
FROM side_dish_and_side_dish_ingredient
2025-12-10 15:38:12,581 INFO sqlalchemy.engine.Engine [cached since 0.4262s ago] ()

    side_dish_id  side_dish_ingredient_id
0             10                       10
1             10                       11
2             10                       12
3             11                       18
4             11                       10
5             11                       11
6             11                       19
7             13                       13
8             13                       14
9             13                       15
10            13                       16
11            13                       18
12            13                       19
13            14                       19

2025-12-10 15:38:12,588 INFO sqlalchemy.engine.Engine COMMIT

## Querying Data using Joins

## Equijoin

- Select all side dishes and their matching ingredients

In [105]:
with Session(engine) as session:
    join_statement = side_dish.join(
        side_dish_and_side_dish_ingredient,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    ).join(
        side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    )
    select_statement = sqlalchemy.select(
        side_dish.c.name,
        side_dish_ingredient.c.name
    ).select_from(join_statement).order_by(side_dish.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Side Dish", "Ingredients"])
    display(df)
    session.commit()

2025-12-10 15:38:12,736 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,739 INFO sqlalchemy.engine.Engine SELECT side_dish.name, side_dish_ingredient.name AS name_1
FROM side_dish JOIN side_dish_and_side_dish_ingredient ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id JOIN side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id ORDER BY side_dish.name
2025-12-10 15:38:12,740 INFO sqlalchemy.engine.Engine [generated in 0.00129s] ()

                 Side Dish       Ingredients
0                  Avocado           Avocado
1   Kachumbari na Pilipili          Tomatoes
2   Kachumbari na Pilipili            Onions
3   Kachumbari na Pilipili            Chilli
4         Kenyan Guacamole              Salt
5         Kenyan Guacamole          Tomatoes
6         Kenyan Guacamole            Onions
7         Kenyan Guacamole           Avocado
8             Mukimo Plain    Irish Potatoes
9             Mukimo Plain        Green Peas
10            Mukimo Plain  Soft Green Maize
11            Mukimo Plain    Pumpkin Leaves
12            Mukimo Plain              Salt
13            Mukimo Plain           Avocado

2025-12-10 15:38:12,752 INFO sqlalchemy.engine.Engine COMMIT

## Left Outer Join

- Select all side dishes and their ingredients, including those without ingredients

In [106]:
with Session(engine) as session:
    join_statement = side_dish.outerjoin(
        side_dish_and_side_dish_ingredient,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    ).outerjoin(
        side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    )
    select_statement = sqlalchemy.select(
        side_dish.c.name,
        side_dish_ingredient.c.name
    ).select_from(join_statement).order_by(side_dish.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Side Dish", "Ingredients"])
    display(df)
    session.commit()

2025-12-10 15:38:12,882 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:12,884 INFO sqlalchemy.engine.Engine SELECT side_dish.name, side_dish_ingredient.name AS name_1
FROM side_dish LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id LEFT OUTER JOIN side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id ORDER BY side_dish.name
2025-12-10 15:38:12,885 INFO sqlalchemy.engine.Engine [generated in 0.00128s] ()

                               Side Dish       Ingredients
0                                Avocado           Avocado
1                 Kachumbari na Pilipili          Tomatoes
2                 Kachumbari na Pilipili            Onions
3                 Kachumbari na Pilipili            Chilli
4                       Kenyan Guacamole          Tomatoes
5                       Kenyan Guacamole            Onions
6                       Kenyan Guacamole              Salt
7                       Kenyan Guacamole           Avocado
8                           Mukimo Plain    Irish Potatoes
9                           Mukimo Plain        Green Peas
10                          Mukimo Plain  Soft Green Maize
11                          Mukimo Plain    Pumpkin Leaves
12                          Mukimo Plain              Salt
13                          Mukimo Plain           Avocado
14  Sukuma Wiki (Sautéed Collard Greens)              None

2025-12-10 15:38:12,893 INFO sqlalchemy.engine.Engine COMMIT

- Select all ingredients and the side dishes they are used to make, including those that are not used to make any side dish

In [107]:
with Session(engine) as session:
    join_statement = side_dish_ingredient.outerjoin(
        side_dish_and_side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    ).outerjoin(
        side_dish,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    )
    select_statement = sqlalchemy.select(
        side_dish_ingredient.c.name,
        side_dish.c.name
    ).select_from(join_statement).order_by(side_dish_ingredient.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredients", "Side Dish"])
    display(df)
    session.commit()

2025-12-10 15:38:13,090 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:13,093 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, side_dish.name AS name_1
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id LEFT OUTER JOIN side_dish ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id ORDER BY side_dish_ingredient.name
2025-12-10 15:38:13,094 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ()

           Ingredients               Side Dish
0              Avocado        Kenyan Guacamole
1              Avocado            Mukimo Plain
2              Avocado                 Avocado
3               Chilli  Kachumbari na Pilipili
4   Dhania (Coriander)                    None
5               Garlic                    None
6           Green Peas            Mukimo Plain
7       Irish Potatoes            Mukimo Plain
8               Onions  Kachumbari na Pilipili
9               Onions        Kenyan Guacamole
10      Pumpkin Leaves            Mukimo Plain
11                Salt        Kenyan Guacamole
12                Salt            Mukimo Plain
13    Soft Green Maize            Mukimo Plain
14            Tomatoes  Kachumbari na Pilipili
15            Tomatoes        Kenyan Guacamole

2025-12-10 15:38:13,102 INFO sqlalchemy.engine.Engine COMMIT

## Aggregate within Groups

![img.png](assets/images/pexels-antonio-filigno-159809-8538296.jpg)

_Source: [link](https://www.pexels.com/photo/sliced-avocado-on-yellow-green-surface-8538296/)_

- Example of how to use GROUP BY to count the number of side dishes that use each ingredient

In [108]:
with Session(engine) as session:
    stmt = (
        sqlalchemy.select(
            side_dish_ingredient.c.name,
            func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).label("Number of Side Dishes")
        )
        .select_from(
            side_dish_ingredient.outerjoin(
                side_dish_and_side_dish_ingredient,
                side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
            )
        )
        .group_by(side_dish_ingredient.c.name)
        .order_by(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).desc())
    )
    result = session.execute(stmt)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredient", "Number of Side Dishes"])
    display(df)
    session.commit()

2025-12-10 15:38:13,219 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:13,221 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, count(side_dish_and_side_dish_ingredient.side_dish_id) AS "Number of Side Dishes"
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id GROUP BY side_dish_ingredient.name ORDER BY count(side_dish_and_side_dish_ingredient.side_dish_id) DESC
2025-12-10 15:38:13,222 INFO sqlalchemy.engine.Engine [generated in 0.00061s] ()

            Ingredient  Number of Side Dishes
0              Avocado                      3
1             Tomatoes                      2
2                 Salt                      2
3               Onions                      2
4     Soft Green Maize                      1
5       Pumpkin Leaves                      1
6       Irish Potatoes                      1
7           Green Peas                      1
8               Chilli                      1
9               Garlic                      0
10  Dhania (Coriander)                      0

2025-12-10 15:38:13,228 INFO sqlalchemy.engine.Engine COMMIT

- Example of how to use GROUP BY with HAVING to filter ingredients used in more than one side dish

In [109]:
with Session(engine) as session:
    stmt = (
        sqlalchemy.select(
            side_dish_ingredient.c.name,
            func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).label("Number of Side Dishes")
        )
        .select_from(
            side_dish_ingredient.outerjoin(
                side_dish_and_side_dish_ingredient,
                side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
            )
        )
        .group_by(side_dish_ingredient.c.name)
        .having(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id) > 1)
        .order_by(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).desc())
    )
    result = session.execute(stmt)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredient", "Number of Side Dishes"])
    display(df)
    session.commit()

2025-12-10 15:38:13,318 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-10 15:38:13,319 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, count(side_dish_and_side_dish_ingredient.side_dish_id) AS "Number of Side Dishes"
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id GROUP BY side_dish_ingredient.name
HAVING count(side_dish_and_side_dish_ingredient.side_dish_id) > ? ORDER BY count(side_dish_and_side_dish_ingredient.side_dish_id) DESC
2025-12-10 15:38:13,320 INFO sqlalchemy.engine.Engine [generated in 0.00078s] (1,)

  Ingredient  Number of Side Dishes
0    Avocado                      3
1   Tomatoes                      2
2       Salt                      2
3     Onions                      2

2025-12-10 15:38:13,325 INFO sqlalchemy.engine.Engine COMMIT

## Close the Session

In [110]:
session.close()

## References
SQLAlchemy Project. (2025, December 5). _SQLAlchemy 2.0 Documentation._ SQLAlchemy. https://docs.sqlalchemy.org/en/20/