# SQL Alchemy: Part 3

| Key              | Value                                                                                                                                                                                                                                                                                                                                                          |
|:-----------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Course Codes** | DAT 2201, DAT 3103, BBT 3104, MCS 8104, MIT 8107, BBT 4106                                                                                                                                                                                                                                                                                                     |
| **Course Names** | DAT 2201: Database Design and SQL (Week 1-3 of 13), <br/>DAT 3103: Principles of Data Engineering (Week 1-3 of 13), <br/>BBT 3104: Advanced Database Systems (Week 7-9 of 13), <br/>MCS 8104: Database Management Systems (Week 1-3 of 13), <br/>MIT 8107: Advanced Database Systems (Week 1-3 of 13), <br/>BBT 4106: Business Intelligence I (Week 4-6 of 13) |
| **Semester**     | May to July 2026                                                                                                                                                                                                                                                                                                                                               |
| **Lecturer**     | Allan Omondi                                                                                                                                                                                                                                                                                                                                                   |
| **Contact**      | aomondi@strathmore.edu                                                                                                                                                                                                                                                                                                                                         |
| **Note**         | The lecture contains both theory and practice.<br/>This notebook forms part of the practice.<br/>It is intended for educational purpose only.<br/>Recommended citation: [BibTex](https://raw.githubusercontent.com/course-files/ObjectRelationalMapping/refs/heads/main/RecommendedCitation.bib)                                                               |

## Modelling Relationships using SQL Alchemy

In [1]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
from sqlalchemy import MetaData, Table, Column, Integer, String, Float, Text
from sqlalchemy import ForeignKey, func
from sqlalchemy import exc
import sqlalchemy
import pandas as pd

In [2]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [3]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

side_dish_ingredient = Table(
    "side_dish_ingredient",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False, primary_key=True)
)

side_dish_and_side_dish_ingredient = Table(
    "side_dish_and_side_dish_ingredient",
    meta,
    Column('side_dish_id', Integer, ForeignKey('side_dish.id'), nullable=False, primary_key=True),
    Column('side_dish_ingredient_id', Integer, ForeignKey('side_dish_ingredient.id'), nullable=False, primary_key=True)
)

meta.create_all(engine)

2025-12-09 20:15:33,584 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-09 20:15:33,584 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 20:15:33,588 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-09 20:15:33,590 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 20:15:33,592 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-09 20:15:33,593 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 20:15:33,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,598 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-09 20:15:33,598 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 20:15:33,625 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish_ingredient`
2025-12-09 20:15:33,626 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 20:15:33,630 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish_and_side_dish_ingredient`
2025-12-09 20:15:33,630 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 20:15:33,634 INFO sqlalchemy.engine.Engine COMMIT

## Truncate the Data in the Tables to Start Afresh

In [4]:
with Session(engine) as session:
    delete_statement = side_dish_and_side_dish_ingredient.delete()
    result = session.execute(delete_statement)
    session.commit()

with Session(engine) as session:
    delete_statement = side_dish_ingredient.delete()
    result = session.execute(delete_statement)
    session.commit()

with Session(engine) as session:
    delete_statement = side_dish.delete()
    result = session.execute(delete_statement)
    session.commit()

2025-12-09 20:15:33,645 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,647 INFO sqlalchemy.engine.Engine DELETE FROM side_dish_and_side_dish_ingredient
2025-12-09 20:15:33,647 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {}
2025-12-09 20:15:33,651 INFO sqlalchemy.engine.Engine COMMIT
2025-12-09 20:15:33,657 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,658 INFO sqlalchemy.engine.Engine DELETE FROM side_dish_ingredient
2025-12-09 20:15:33,659 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {}
2025-12-09 20:15:33,661 INFO sqlalchemy.engine.Engine COMMIT
2025-12-09 20:15:33,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,667 INFO sqlalchemy.engine.Engine DELETE FROM side_dish
2025-12-09 20:15:33,668 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {}
2025-12-09 20:15:33,671 INFO sqlalchemy.engine.Engine COMMIT

## Confirm that the Tables are Empty

### `side_dish`

In [5]:
with Session(engine) as session:
    select_statement = side_dish.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 20:15:33,683 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,685 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
2025-12-09 20:15:33,686 INFO sqlalchemy.engine.Engine [generated in 0.00085s] {}

Empty DataFrame
Columns: [id, name, price]
Index: []

2025-12-09 20:15:33,700 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_ingredient`

In [6]:
with Session(engine) as session:
    select_statement = side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 20:15:33,769 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,771 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.id, side_dish_ingredient.name
FROM side_dish_ingredient
2025-12-09 20:15:33,772 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {}

Empty DataFrame
Columns: [id, name]
Index: []

2025-12-09 20:15:33,779 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_and_side_dish_ingredient`

In [7]:
with Session(engine) as session:
    select_statement = side_dish_and_side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 20:15:33,840 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,841 INFO sqlalchemy.engine.Engine SELECT side_dish_and_side_dish_ingredient.side_dish_id, side_dish_and_side_dish_ingredient.side_dish_ingredient_id
FROM side_dish_and_side_dish_ingredient
2025-12-09 20:15:33,842 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {}

Empty DataFrame
Columns: [side_dish_id, side_dish_ingredient_id]
Index: []

2025-12-09 20:15:33,850 INFO sqlalchemy.engine.Engine COMMIT

## Insert Data into Related Tables

In [8]:
with Session(engine) as session:
    session.execute(side_dish.insert().values(id=10, name='Kachumbari na Pilipili', price=45))
    session.execute(side_dish.insert().values(id=11, name='Kenyan Guacamole', price=45))
    session.execute(side_dish.insert().values(id=12, name='Sukuma Wiki (Sautéed Collard Greens)', price=55))
    session.execute(side_dish.insert().values(id=13, name='Mukimo Plain', price=130))
    session.execute(side_dish.insert().values(id=14, name='Avocado', price=50))

    ingredients = [
        {'id': 10, 'name': 'Tomatoes'},
        {'id': 11, 'name': 'Onions'},
        {'id': 12, 'name': 'Chilli'},
        {'id': 13, 'name': 'Irish Potatoes'},
        {'id': 14, 'name': 'Green Peas'},
        {'id': 15, 'name': 'Soft Green Maize'},
        {'id': 16, 'name': 'Pumpkin Leaves'},
        {'id': 17, 'name': 'Garlic'},
        {'id': 18, 'name': 'Salt'},
        {'id': 19, 'name': 'Avocado'},
        {'id': 20, 'name': 'Dhania (Coriander)'}
    ]

    for ingredient in ingredients:
        session.execute(side_dish_ingredient.insert().values(**ingredient))


    recipe = [
        {'side_dish_id': 10, 'side_dish_ingredient_id': 10},
        {'side_dish_id': 10, 'side_dish_ingredient_id': 11},
        {'side_dish_id': 10, 'side_dish_ingredient_id': 12},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 18},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 10},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 11},
        {'side_dish_id': 11, 'side_dish_ingredient_id': 19},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 13},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 14},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 15},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 16},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 18},
        {'side_dish_id': 13, 'side_dish_ingredient_id': 19},
        {'side_dish_id': 14, 'side_dish_ingredient_id': 19}
    ]

    for item in recipe:
        session.execute(side_dish_and_side_dish_ingredient.insert().values(**item))
    session.commit()

2025-12-09 20:15:33,933 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:33,935 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-09 20:15:33,936 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {'id': 10, 'name': 'Kachumbari na Pilipili', 'price': 45}
2025-12-09 20:15:33,939 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-09 20:15:33,940 INFO sqlalchemy.engine.Engine [cached since 0.005094s ago] {'id': 11, 'name': 'Kenyan Guacamole', 'price': 45}
2025-12-09 20:15:33,942 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-09 20:15:33,943 INFO sqlalchemy.engine.Engine [cached since 0.008261s ago] {'id': 12, 'name': 'Sukuma Wiki (Sautéed Collard Greens)', 'price': 55}
2025-12-09 20:15:33,945 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-09 20:15:33,946 INFO sqlalchemy.engine.Engine [cached since 0.0111s ago] {'id': 13, 'name': 'Mukimo Plain', 'price': 130}
2025-12-09 20:15:33,948 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2025-12-09 20:15:33,949 INFO sqlalchemy.engine.Engine [cached since 0.01408s ago] {'id': 14, 'name': 'Avocado', 'price': 50}
2025-12-09 20:15:33,951 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,952 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {'id': 10, 'name': 'Tomatoes'}
2025-12-09 20:15:33,954 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,955 INFO sqlalchemy.engine.Engine [cached since 0.004168s ago] {'id': 11, 'name': 'Onions'}
2025-12-09 20:15:33,957 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,958 INFO sqlalchemy.engine.Engine [cached since 0.007179s ago] {'id': 12, 'name': 'Chilli'}
2025-12-09 20:15:33,961 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,961 INFO sqlalchemy.engine.Engine [cached since 0.01067s ago] {'id': 13, 'name': 'Irish Potatoes'}
2025-12-09 20:15:33,963 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,964 INFO sqlalchemy.engine.Engine [cached since 0.01335s ago] {'id': 14, 'name': 'Green Peas'}
2025-12-09 20:15:33,967 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,968 INFO sqlalchemy.engine.Engine [cached since 0.01695s ago] {'id': 15, 'name': 'Soft Green Maize'}
2025-12-09 20:15:33,970 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,971 INFO sqlalchemy.engine.Engine [cached since 0.02028s ago] {'id': 16, 'name': 'Pumpkin Leaves'}
2025-12-09 20:15:33,973 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,974 INFO sqlalchemy.engine.Engine [cached since 0.02325s ago] {'id': 17, 'name': 'Garlic'}
2025-12-09 20:15:33,976 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,977 INFO sqlalchemy.engine.Engine [cached since 0.02614s ago] {'id': 18, 'name': 'Salt'}
2025-12-09 20:15:33,979 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,980 INFO sqlalchemy.engine.Engine [cached since 0.02881s ago] {'id': 19, 'name': 'Avocado'}
2025-12-09 20:15:33,982 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_ingredient (id, name) VALUES (%(id)s, %(name)s)
2025-12-09 20:15:33,982 INFO sqlalchemy.engine.Engine [cached since 0.03154s ago] {'id': 20, 'name': 'Dhania (Coriander)'}
2025-12-09 20:15:33,985 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:33,985 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {'side_dish_id': 10, 'side_dish_ingredient_id': 10}
2025-12-09 20:15:33,988 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:33,988 INFO sqlalchemy.engine.Engine [cached since 0.003498s ago] {'side_dish_id': 10, 'side_dish_ingredient_id': 11}
2025-12-09 20:15:33,990 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:33,991 INFO sqlalchemy.engine.Engine [cached since 0.005884s ago] {'side_dish_id': 10, 'side_dish_ingredient_id': 12}
2025-12-09 20:15:33,993 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:33,993 INFO sqlalchemy.engine.Engine [cached since 0.008504s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 18}
2025-12-09 20:15:33,995 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:33,996 INFO sqlalchemy.engine.Engine [cached since 0.01139s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 10}
2025-12-09 20:15:33,998 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:33,999 INFO sqlalchemy.engine.Engine [cached since 0.0144s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 11}
2025-12-09 20:15:34,006 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,006 INFO sqlalchemy.engine.Engine [cached since 0.02178s ago] {'side_dish_id': 11, 'side_dish_ingredient_id': 19}
2025-12-09 20:15:34,010 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,011 INFO sqlalchemy.engine.Engine [cached since 0.02599s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 13}
2025-12-09 20:15:34,013 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,015 INFO sqlalchemy.engine.Engine [cached since 0.02999s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 14}
2025-12-09 20:15:34,018 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,019 INFO sqlalchemy.engine.Engine [cached since 0.0339s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 15}
2025-12-09 20:15:34,021 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,023 INFO sqlalchemy.engine.Engine [cached since 0.03805s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 16}
2025-12-09 20:15:34,025 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,026 INFO sqlalchemy.engine.Engine [cached since 0.04155s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 18}
2025-12-09 20:15:34,029 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,030 INFO sqlalchemy.engine.Engine [cached since 0.04495s ago] {'side_dish_id': 13, 'side_dish_ingredient_id': 19}
2025-12-09 20:15:34,032 INFO sqlalchemy.engine.Engine INSERT INTO side_dish_and_side_dish_ingredient (side_dish_id, side_dish_ingredient_id) VALUES (%(side_dish_id)s, %(side_dish_ingredient_id)s)
2025-12-09 20:15:34,032 INFO sqlalchemy.engine.Engine [cached since 0.04774s ago] {'side_dish_id': 14, 'side_dish_ingredient_id': 19}
2025-12-09 20:15:34,034 INFO sqlalchemy.engine.Engine COMMIT

## Confirm that the Data has been Inserted

### `side_dish`

In [9]:
with Session(engine) as session:
    select_statement = side_dish.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 20:15:34,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:34,059 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
2025-12-09 20:15:34,060 INFO sqlalchemy.engine.Engine [cached since 0.3755s ago] {}

   id                                  name  price
0  10                Kachumbari na Pilipili   45.0
1  11                      Kenyan Guacamole   45.0
2  12  Sukuma Wiki (Sautéed Collard Greens)   55.0
3  13                          Mukimo Plain  130.0
4  14                               Avocado   50.0

2025-12-09 20:15:34,069 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_ingredient`

In [10]:
with Session(engine) as session:
    select_statement = side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 20:15:34,183 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:34,184 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.id, side_dish_ingredient.name
FROM side_dish_ingredient
2025-12-09 20:15:34,185 INFO sqlalchemy.engine.Engine [cached since 0.4142s ago] {}

    id                name
0   10            Tomatoes
1   11              Onions
2   12              Chilli
3   13      Irish Potatoes
4   14          Green Peas
5   15    Soft Green Maize
6   16      Pumpkin Leaves
7   17              Garlic
8   18                Salt
9   19             Avocado
10  20  Dhania (Coriander)

2025-12-09 20:15:34,192 INFO sqlalchemy.engine.Engine COMMIT

### `side_dish_and_side_dish_ingredient`

In [11]:
with Session(engine) as session:
    select_statement = side_dish_and_side_dish_ingredient.select()
    result = session.execute(select_statement)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 20:15:34,378 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:34,379 INFO sqlalchemy.engine.Engine SELECT side_dish_and_side_dish_ingredient.side_dish_id, side_dish_and_side_dish_ingredient.side_dish_ingredient_id
FROM side_dish_and_side_dish_ingredient
2025-12-09 20:15:34,380 INFO sqlalchemy.engine.Engine [cached since 0.5391s ago] {}

    side_dish_id  side_dish_ingredient_id
0             10                       10
1             11                       10
2             10                       11
3             11                       11
4             10                       12
5             13                       13
6             13                       14
7             13                       15
8             13                       16
9             11                       18
10            13                       18
11            11                       19
12            13                       19
13            14                       19

2025-12-09 20:15:34,387 INFO sqlalchemy.engine.Engine COMMIT

## Querying Data using Joins

## Equijoin

- Select all side dishes and their matching ingredients

In [12]:
with Session(engine) as session:
    join_statement = side_dish.join(
        side_dish_and_side_dish_ingredient,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    ).join(
        side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    )
    select_statement = sqlalchemy.select(
        side_dish.c.name,
        side_dish_ingredient.c.name
    ).select_from(join_statement).order_by(side_dish.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Side Dish", "Ingredients"])
    display(df)
    session.commit()

2025-12-09 20:15:34,624 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:34,627 INFO sqlalchemy.engine.Engine SELECT side_dish.name, side_dish_ingredient.name AS name_1
FROM side_dish INNER JOIN side_dish_and_side_dish_ingredient ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id INNER JOIN side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id ORDER BY side_dish.name
2025-12-09 20:15:34,628 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {}

                 Side Dish       Ingredients
0                  Avocado           Avocado
1   Kachumbari na Pilipili          Tomatoes
2   Kachumbari na Pilipili            Onions
3   Kachumbari na Pilipili            Chilli
4         Kenyan Guacamole          Tomatoes
5         Kenyan Guacamole            Onions
6         Kenyan Guacamole              Salt
7         Kenyan Guacamole           Avocado
8             Mukimo Plain    Irish Potatoes
9             Mukimo Plain        Green Peas
10            Mukimo Plain  Soft Green Maize
11            Mukimo Plain    Pumpkin Leaves
12            Mukimo Plain              Salt
13            Mukimo Plain           Avocado

2025-12-09 20:15:34,636 INFO sqlalchemy.engine.Engine COMMIT

## Left Outer Join

- Select all side dishes and their ingredients, including those without ingredients

In [13]:
with Session(engine) as session:
    join_statement = side_dish.outerjoin(
        side_dish_and_side_dish_ingredient,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    ).outerjoin(
        side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    )
    select_statement = sqlalchemy.select(
        side_dish.c.name,
        side_dish_ingredient.c.name
    ).select_from(join_statement).order_by(side_dish.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Side Dish", "Ingredients"])
    display(df)
    session.commit()

2025-12-09 20:15:34,763 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:34,765 INFO sqlalchemy.engine.Engine SELECT side_dish.name, side_dish_ingredient.name AS name_1
FROM side_dish LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id LEFT OUTER JOIN side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id ORDER BY side_dish.name
2025-12-09 20:15:34,766 INFO sqlalchemy.engine.Engine [generated in 0.00106s] {}

                               Side Dish       Ingredients
0                                Avocado           Avocado
1                 Kachumbari na Pilipili          Tomatoes
2                 Kachumbari na Pilipili            Onions
3                 Kachumbari na Pilipili            Chilli
4                       Kenyan Guacamole          Tomatoes
5                       Kenyan Guacamole            Onions
6                       Kenyan Guacamole              Salt
7                       Kenyan Guacamole           Avocado
8                           Mukimo Plain    Irish Potatoes
9                           Mukimo Plain        Green Peas
10                          Mukimo Plain  Soft Green Maize
11                          Mukimo Plain    Pumpkin Leaves
12                          Mukimo Plain              Salt
13                          Mukimo Plain           Avocado
14  Sukuma Wiki (Sautéed Collard Greens)              None

2025-12-09 20:15:34,774 INFO sqlalchemy.engine.Engine COMMIT

- Select all ingredients and the side dishes they are used to make, including those that are not used to make any side dish

In [14]:
with Session(engine) as session:
    join_statement = side_dish_ingredient.outerjoin(
        side_dish_and_side_dish_ingredient,
        side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
    ).outerjoin(
        side_dish,
        side_dish.c.id == side_dish_and_side_dish_ingredient.c.side_dish_id
    )
    select_statement = sqlalchemy.select(
        side_dish_ingredient.c.name,
        side_dish.c.name
    ).select_from(join_statement).order_by(side_dish_ingredient.c.name)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredients", "Side Dish"])
    display(df)
    session.commit()

2025-12-09 20:15:34,882 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:34,883 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, side_dish.name AS name_1
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id LEFT OUTER JOIN side_dish ON side_dish.id = side_dish_and_side_dish_ingredient.side_dish_id ORDER BY side_dish_ingredient.name
2025-12-09 20:15:34,884 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {}

           Ingredients               Side Dish
0              Avocado        Kenyan Guacamole
1              Avocado            Mukimo Plain
2              Avocado                 Avocado
3               Chilli  Kachumbari na Pilipili
4   Dhania (Coriander)                    None
5               Garlic                    None
6           Green Peas            Mukimo Plain
7       Irish Potatoes            Mukimo Plain
8               Onions  Kachumbari na Pilipili
9               Onions        Kenyan Guacamole
10      Pumpkin Leaves            Mukimo Plain
11                Salt        Kenyan Guacamole
12                Salt            Mukimo Plain
13    Soft Green Maize            Mukimo Plain
14            Tomatoes  Kachumbari na Pilipili
15            Tomatoes        Kenyan Guacamole

2025-12-09 20:15:34,892 INFO sqlalchemy.engine.Engine COMMIT

## Aggregate within Groups

![img.png](assets/images/pexels-antonio-filigno-159809-8538296.jpg)

_Source: [link](https://www.pexels.com/photo/sliced-avocado-on-yellow-green-surface-8538296/)_

- Example of how to use GROUP BY to count the number of side dishes that use each ingredient

In [15]:
with Session(engine) as session:
    stmt = (
        sqlalchemy.select(
            side_dish_ingredient.c.name,
            func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).label("Number of Side Dishes")
        )
        .select_from(
            side_dish_ingredient.outerjoin(
                side_dish_and_side_dish_ingredient,
                side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
            )
        )
        .group_by(side_dish_ingredient.c.name)
        .order_by(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).desc())
    )
    result = session.execute(stmt)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredient", "Number of Side Dishes"])
    display(df)
    session.commit()

2025-12-09 20:15:35,068 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:35,070 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, count(side_dish_and_side_dish_ingredient.side_dish_id) AS `Number of Side Dishes`
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id GROUP BY side_dish_ingredient.name ORDER BY count(side_dish_and_side_dish_ingredient.side_dish_id) DESC
2025-12-09 20:15:35,071 INFO sqlalchemy.engine.Engine [generated in 0.00109s] {}

            Ingredient  Number of Side Dishes
0              Avocado                      3
1             Tomatoes                      2
2               Onions                      2
3                 Salt                      2
4               Chilli                      1
5       Irish Potatoes                      1
6           Green Peas                      1
7     Soft Green Maize                      1
8       Pumpkin Leaves                      1
9               Garlic                      0
10  Dhania (Coriander)                      0

2025-12-09 20:15:35,081 INFO sqlalchemy.engine.Engine COMMIT

- Example of how to use GROUP BY with HAVING to filter ingredients used in more than one side dish

In [16]:
with Session(engine) as session:
    stmt = (
        sqlalchemy.select(
            side_dish_ingredient.c.name,
            func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).label("Number of Side Dishes")
        )
        .select_from(
            side_dish_ingredient.outerjoin(
                side_dish_and_side_dish_ingredient,
                side_dish_ingredient.c.id == side_dish_and_side_dish_ingredient.c.side_dish_ingredient_id
            )
        )
        .group_by(side_dish_ingredient.c.name)
        .having(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id) > 1)
        .order_by(func.count(side_dish_and_side_dish_ingredient.c.side_dish_id).desc())
    )
    result = session.execute(stmt)
    df = pd.DataFrame(result.fetchall(), columns=["Ingredient", "Number of Side Dishes"])
    display(df)
    session.commit()

2025-12-09 20:15:35,224 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 20:15:35,225 INFO sqlalchemy.engine.Engine SELECT side_dish_ingredient.name, count(side_dish_and_side_dish_ingredient.side_dish_id) AS `Number of Side Dishes`
FROM side_dish_ingredient LEFT OUTER JOIN side_dish_and_side_dish_ingredient ON side_dish_ingredient.id = side_dish_and_side_dish_ingredient.side_dish_ingredient_id GROUP BY side_dish_ingredient.name
HAVING count(side_dish_and_side_dish_ingredient.side_dish_id) > %(count_1)s ORDER BY count(side_dish_and_side_dish_ingredient.side_dish_id) DESC
2025-12-09 20:15:35,226 INFO sqlalchemy.engine.Engine [generated in 0.00063s] {'count_1': 1}

  Ingredient  Number of Side Dishes
0    Avocado                      3
1   Tomatoes                      2
2     Onions                      2
3       Salt                      2

2025-12-09 20:15:35,233 INFO sqlalchemy.engine.Engine COMMIT

## References
SQLAlchemy Project. (2025, December 5). _SQLAlchemy 2.0 Documentation._ SQLAlchemy. https://docs.sqlalchemy.org/en/20/