# SQL Alchemy: Part 2

| Key              | Value                                                                                                                                                                                                                                                                                                                                                          |
|:-----------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Course Codes** | DAT 2201, DAT 3103, BBT 3104, MCS 8104, MIT 8107, BBT 4106                                                                                                                                                                                                                                                                                                     |
| **Course Names** | DAT 2201: Database Design and SQL (Week 1-3 of 13), <br/>DAT 3103: Principles of Data Engineering (Week 1-3 of 13), <br/>BBT 3104: Advanced Database Systems (Week 7-9 of 13), <br/>MCS 8104: Database Management Systems (Week 1-3 of 13), <br/>MIT 8107: Advanced Database Systems (Week 1-3 of 13), <br/>BBT 4106: Business Intelligence I (Week 4-6 of 13) |
| **Semester**     | May to July 2026                                                                                                                                                                                                                                                                                                                                               |
| **Lecturer**     | Allan Omondi                                                                                                                                                                                                                                                                                                                                                   |
| **Contact**      | aomondi@strathmore.edu                                                                                                                                                                                                                                                                                                                                         |
| **Note**         | The lecture contains both theory and practice.<br/>This notebook forms part of the practice.<br/>It is intended for educational purpose only.<br/>Recommended citation: [BibTex](https://raw.githubusercontent.com/course-files/ObjectRelationalMapping/refs/heads/main/RecommendedCitation.bib)                                                               |

In [105]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
from sqlalchemy import MetaData, Table, Column, Integer, String, Float
from sqlalchemy import exc
import sqlalchemy
import pandas as pd

## Sessions

- SQL Alchemy Core works with connections directly, but SQL Alchemy ORM uses sessions to manage the interactions with the database.
- A session is a workspace for your objects and their associated database rows. It keeps track of changes made to objects and coordinates the writing of those changes back to the database.

In [3]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)

**Reminder**

The default approach when using a connection in SQL Alchemy Core is:

`conn = engine.connect()`
```
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO supplier (name, rating) VALUES (:name, :rating)"),
        [{"name": "Narok 41 Ranch", "rating": 4.8}, {"name": "Ngong Green House", "rating": 2}],
    )
    conn.commit()
```

In [4]:
session = Session(engine)

In [5]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO supplier (name, rating) VALUES (:name, :rating)"),
            [{"name": "Limuru Gardens", "rating": 4.1}],
        )
    session.commit()

2025-12-09 10:37:20,355 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 10:37:20,357 INFO sqlalchemy.engine.Engine INSERT INTO supplier (name, rating) VALUES (?, ?)
2025-12-09 10:37:20,358 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('Limuru Gardens', 4.1)
2025-12-09 10:37:20,361 INFO sqlalchemy.engine.Engine COMMIT

## The MetaData Class

- The previous notebook shows the most basic way of working with SQL Alchemy Core. **However**, in practice, you would typically define classes that map to your database tables and use the ORM features to work with those classes instead of writing raw SQL queries. This allows for a more **Pythonic** way of interacting with the database.

- The MetaData class is used to define the database schema. It keeps track of all the information necessary to create tables, constraints, and other database objects.

- The `create_all()` function behaves like a "cautious and conservative craftsman":
  - It only creates tables that are missing.
  - It never overwrites existing tables.
  - It never alters existing columns.
  - It never deletes data.

- This implies that if the table already exists in the database, then running `create_all()` will not modify it in any way. The table will be left untouched and the data intact.

---

- SQLAlchemy still needs the Table object to understand the schema. The Python code does not automatically import the database structure, therefore, you must either:
  - Option A — Define the table manually (what we are doing below). This is the long-term, disciplined way.
  - Option B — **Reflect** the table from the database. This is handy when the database is already built and you do not want to rewrite the schema in code:

### Option A: Manually Defining Table Objects

In [118]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-09 16:19:22,985 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 16:19:22,990 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-09 16:19:22,991 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:19:22,993 INFO sqlalchemy.engine.Engine COMMIT

Test the SQL Alchemy ORM by inserting data into the `product` table.

In [123]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-09 16:21:12,544 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 16:21:12,546 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-09 16:21:12,546 INFO sqlalchemy.engine.Engine [cached since 365.6s ago] ('Kachumbari', 40)
2025-12-09 16:21:12,571 INFO sqlalchemy.engine.Engine COMMIT

### ORM Functions

- Instead of writing raw SQL queries, SQL Alchemy ORM provides a set of functions that allow you to build SQL statements programmatically.
- SQL Alchemy ORM also automatically parameterizes the query for you under the hood.

In [120]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-09 16:19:52,508 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 16:19:52,510 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-09 16:19:52,511 INFO sqlalchemy.engine.Engine [generated in 0.00116s] ('Guacamole', 80.0)
2025-12-09 16:19:52,514 INFO sqlalchemy.engine.Engine COMMIT

### Option B: Reflecting Tables from the Database

- Automatic schema discovery sounds nice, but it destroys reproducibility.
- Databases are production assets; you do not want them shifting silently.
- Schema drift is a major cause of system failure. SQLAlchemy is correct not to support automatic synchronization of the database schema.

- If database schema changes are frequent and uncontrolled, then the problem is not SQLAlchemy — it is **the organization's development process.**

In [121]:
meta = MetaData()
supplier = Table("supplier", meta, autoload_with=engine)

2025-12-09 16:20:03,733 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 16:20:03,734 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("supplier")
2025-12-09 16:20:03,735 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,737 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-09 16:20:03,738 INFO sqlalchemy.engine.Engine [raw sql] ('supplier',)
2025-12-09 16:20:03,739 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("supplier")
2025-12-09 16:20:03,740 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,740 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("supplier")
2025-12-09 16:20:03,741 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,742 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-09 16:20:03,743 INFO sqlalchemy.engine.Engine [raw sql] ('supplier',)
2025-12-09 16:20:03,745 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("supplier")
2025-12-09 16:20:03,745 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,747 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("supplier")
2025-12-09 16:20:03,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,749 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("supplier")
2025-12-09 16:20:03,750 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,751 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("supplier")
2025-12-09 16:20:03,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,752 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("supplier")
2025-12-09 16:20:03,753 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,754 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("supplier")
2025-12-09 16:20:03,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 16:20:03,756 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-12-09 16:20:03,756 INFO sqlalchemy.engine.Engine [raw sql] ('supplier',)
2025-12-09 16:20:03,759 INFO sqlalchemy.engine.Engine ROLLBACK

In [122]:
with Session(engine) as session:
    insert_statement = supplier.insert().values(name='Naivasha Florals', rating=3.4)
    result = session.execute(insert_statement)
    session.commit()

2025-12-09 16:20:39,051 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 16:20:39,053 INFO sqlalchemy.engine.Engine INSERT INTO supplier (name, rating) VALUES (?, ?)
2025-12-09 16:20:39,054 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ('Naivasha Florals', 3.4)
2025-12-09 16:20:39,058 INFO sqlalchemy.engine.Engine COMMIT

## Switch between different databases with the same ORM code

- SQL Alchemy allows you to switch between different database systems with minimal changes to your code.
- The only requirement is that you need to change the connection string in the `create_engine` function.

- Create the MySQL and PostgreSQL containers using the Docker-Compose file provided in the repository.
- Ensure that the databases `siwaka_dishes` are created in both MySQL and PostgreSQL containers.

### MySQL

In [12]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\aomondi\documents\github\teaching\objectrelationalmapping\.venv\lib\site-packages (1.1.2)

In [15]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)

In [16]:
session = Session(engine)

In [17]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-09 11:00:22,725 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-09 11:00:22,726 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:00:22,731 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-09 11:00:22,732 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:00:22,734 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-09 11:00:22,735 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:00:22,739 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:00:22,740 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-09 11:00:22,740 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:00:22,748 INFO sqlalchemy.engine.Engine
CREATE TABLE side_dish (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	price FLOAT,
	PRIMARY KEY (id)
)


2025-12-09 11:00:22,749 INFO sqlalchemy.engine.Engine [no key 0.00079s] {}
2025-12-09 11:00:22,812 INFO sqlalchemy.engine.Engine COMMIT

**Option 1:** Create new data using raw SQL

In [18]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-09 11:01:06,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:01:06,296 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-09 11:01:06,297 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {'name': 'Kachumbari', 'price': 40}
2025-12-09 11:01:06,303 INFO sqlalchemy.engine.Engine COMMIT

**Option 2:** Create new data using the SQL Alchemy ORM (**NOTE: This is the same Python code used above**)

In [19]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-09 11:01:35,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:01:35,326 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-09 11:01:35,327 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {'name': 'Guacamole', 'price': 80}
2025-12-09 11:01:35,331 INFO sqlalchemy.engine.Engine COMMIT

### PostgreSQL

In [20]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\aomondi\documents\github\teaching\objectrelationalmapping\.venv\lib\site-packages (2.9.11)

In [30]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@localhost:5433/postgres', echo=True)

In [31]:
session = Session(engine)

In [33]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-09 11:20:58,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:20:58,352 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-09 11:20:58,354 INFO sqlalchemy.engine.Engine [generated in 0.00182s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-09 11:20:58,363 INFO sqlalchemy.engine.Engine
CREATE TABLE siwaka_dishes.side_dish (
	id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	price FLOAT,
	PRIMARY KEY (id)
)


2025-12-09 11:20:58,365 INFO sqlalchemy.engine.Engine [no key 0.00170s] {}
2025-12-09 11:20:58,402 INFO sqlalchemy.engine.Engine COMMIT

**Option 1:** Create new data using raw SQL

In [35]:
with Session(engine) as session:
    session.execute(
        text("INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (:name, :price)"),
            [{"name": "Kachumbari", "price": 40}],
        )
    session.commit()

2025-12-09 11:22:06,218 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:22:06,219 INFO sqlalchemy.engine.Engine INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-09 11:22:06,221 INFO sqlalchemy.engine.Engine [generated in 0.00154s] {'name': 'Kachumbari', 'price': 40}
2025-12-09 11:22:06,229 INFO sqlalchemy.engine.Engine COMMIT

**Option 2:** Create new data using the SQL Alchemy ORM (**NOTE: This is the same Python code used above**)

In [36]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Guacamole', price=80)
    result = session.execute(insert_statement)
    session.commit()

2025-12-09 11:23:16,318 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:23:16,322 INFO sqlalchemy.engine.Engine INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (%(name)s, %(price)s) RETURNING siwaka_dishes.side_dish.id
2025-12-09 11:23:16,324 INFO sqlalchemy.engine.Engine [generated in 0.00245s] {'name': 'Guacamole', 'price': 80}
2025-12-09 11:23:16,338 INFO sqlalchemy.engine.Engine COMMIT

## CRUD + Database Transactions

- You need to execute the `meta.create_all(engine)` code after connecting to each new database system.
- This ensures that the required tables (and schemas, if specified) are created in that specific database. If you skip this step, the tables may not exist, leading to a "no such table" error.

### Create

#### SQLite

In [40]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [42]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-09 11:37:33,902 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:37:33,904 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-09 11:37:33,905 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 11:37:33,908 INFO sqlalchemy.engine.Engine COMMIT

In [43]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Mukimo', price=150)
    result = session.execute(insert_statement)
    session.commit()

2025-12-09 11:37:39,874 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:37:39,876 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (?, ?)
2025-12-09 11:37:39,877 INFO sqlalchemy.engine.Engine [generated in 0.00079s] ('Mukimo', 150.0)
2025-12-09 11:37:39,879 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [44]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [45]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-09 11:38:41,063 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-09 11:38:41,064 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:38:41,068 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-09 11:38:41,069 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:38:41,071 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-09 11:38:41,072 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:38:41,076 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:38:41,077 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-09 11:38:41,077 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:38:41,116 INFO sqlalchemy.engine.Engine COMMIT

In [46]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Mukimo', price=150)
    result = session.execute(insert_statement)
    session.commit()

2025-12-09 11:39:01,043 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:39:01,054 INFO sqlalchemy.engine.Engine INSERT INTO side_dish (name, price) VALUES (%(name)s, %(price)s)
2025-12-09 11:39:01,059 INFO sqlalchemy.engine.Engine [generated in 0.00541s] {'name': 'Mukimo', 'price': 150}
2025-12-09 11:39:01,092 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [47]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@localhost:5433/postgres', echo=True)
session = Session(engine)

In [48]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-09 11:39:57,805 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-09 11:39:57,806 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:39:57,810 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-09 11:39:57,811 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:39:57,816 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-09 11:39:57,817 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:39:57,821 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:39:57,826 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-09 11:39:57,827 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-09 11:39:57,837 INFO sqlalchemy.engine.Engine COMMIT

In [49]:
with Session(engine) as session:
    insert_statement = side_dish.insert().values(name='Mukimo', price=150)
    result = session.execute(insert_statement)
    session.commit()

2025-12-09 11:40:09,562 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:40:09,564 INFO sqlalchemy.engine.Engine INSERT INTO siwaka_dishes.side_dish (name, price) VALUES (%(name)s, %(price)s) RETURNING siwaka_dishes.side_dish.id
2025-12-09 11:40:09,565 INFO sqlalchemy.engine.Engine [generated in 0.00117s] {'name': 'Mukimo', 'price': 150}
2025-12-09 11:40:09,575 INFO sqlalchemy.engine.Engine COMMIT

### Read

#### SQLite

In [80]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [81]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-09 12:55:49,489 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:55:49,491 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-09 12:55:49,491 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 12:55:49,496 INFO sqlalchemy.engine.Engine COMMIT

In [88]:
with Session(engine) as session:
    select_statement = side_dish.select().where(side_dish.c.price > 60)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 13:01:02,341 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 13:01:02,342 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
WHERE side_dish.price > ?
2025-12-09 13:01:02,343 INFO sqlalchemy.engine.Engine [cached since 171.8s ago] (60,)

   id    name  price
0   3  Mukimo  150.0

2025-12-09 13:01:02,351 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [89]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [91]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-09 13:16:16,144 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 13:16:16,146 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-09 13:16:16,147 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 13:16:16,152 INFO sqlalchemy.engine.Engine COMMIT

In [92]:
with Session(engine) as session:
    select_statement = side_dish.select().where(side_dish.c.price > 60)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 13:16:35,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 13:16:35,388 INFO sqlalchemy.engine.Engine SELECT side_dish.id, side_dish.name, side_dish.price
FROM side_dish
WHERE side_dish.price > %(price_1)s
2025-12-09 13:16:35,389 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {'price_1': 60}

   id     name  price
0   3  Mukimo2  150.0

2025-12-09 13:16:35,399 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [93]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@localhost:5433/postgres', echo=True)
session = Session(engine)

In [94]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-09 13:18:12,547 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-09 13:18:12,547 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 13:18:12,550 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-09 13:18:12,553 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 13:18:12,557 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-09 13:18:12,557 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 13:18:12,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 13:18:12,563 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-09 13:18:12,564 INFO sqlalchemy.engine.Engine [generated in 0.00109s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-09 13:18:12,576 INFO sqlalchemy.engine.Engine COMMIT

In [98]:
with Session(engine) as session:
    select_statement = side_dish.select().where(side_dish.c.price > 60)
    result = session.execute(select_statement)
    # for row in result.fetchall():
    #     print(row)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    display(df)
    session.commit()

2025-12-09 13:19:10,927 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 13:19:10,932 INFO sqlalchemy.engine.Engine SELECT siwaka_dishes.side_dish.id, siwaka_dishes.side_dish.name, siwaka_dishes.side_dish.price
FROM siwaka_dishes.side_dish
WHERE siwaka_dishes.side_dish.price > %(price_1)s
2025-12-09 13:19:10,933 INFO sqlalchemy.engine.Engine [cached since 26.96s ago] {'price_1': 60}

   id    name  price
0   3  Mukimo  150.0

2025-12-09 13:19:10,943 INFO sqlalchemy.engine.Engine COMMIT

### Update

#### SQLite

In [50]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [51]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-09 11:47:03,620 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:47:03,621 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-09 11:47:03,621 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 11:47:03,624 INFO sqlalchemy.engine.Engine COMMIT

In [52]:
with Session(engine) as session:
    update_statement = side_dish.update().where(side_dish.c.name == 'Kachumbari').values(name='Kachumbari na pilipili', price=45)
    result = session.execute(update_statement)
    session.commit()

2025-12-09 11:51:11,980 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:51:11,985 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=?, price=? WHERE side_dish.name = ?
2025-12-09 11:51:11,987 INFO sqlalchemy.engine.Engine [generated in 0.00178s] ('Kachumbari na pilipili', 45.0, 'Kachumbari')
2025-12-09 11:51:11,992 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [53]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [54]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-09 11:52:02,003 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-09 11:52:02,005 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:52:02,008 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-09 11:52:02,009 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:52:02,012 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-09 11:52:02,013 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:52:02,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:52:02,018 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-09 11:52:02,018 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:52:02,024 INFO sqlalchemy.engine.Engine COMMIT

In [55]:
with Session(engine) as session:
    update_statement = side_dish.update().where(side_dish.c.name == 'Kachumbari').values(name='Kachumbari na pilipili', price=45)
    result = session.execute(update_statement)
    session.commit()

2025-12-09 11:52:38,075 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:52:38,077 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=%(name)s, price=%(price)s WHERE side_dish.name = %(name_1)s
2025-12-09 11:52:38,078 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {'name': 'Kachumbari na pilipili', 'price': 45, 'name_1': 'Kachumbari'}
2025-12-09 11:52:38,085 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [56]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@localhost:5433/postgres', echo=True)
session = Session(engine)

In [57]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-09 11:53:23,845 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-09 11:53:23,846 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:53:23,848 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-09 11:53:23,849 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:53:23,852 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-09 11:53:23,853 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 11:53:23,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:53:23,858 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-09 11:53:23,859 INFO sqlalchemy.engine.Engine [generated in 0.00073s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-09 11:53:23,865 INFO sqlalchemy.engine.Engine COMMIT

In [58]:
with Session(engine) as session:
    update_statement = side_dish.update().where(side_dish.c.name == 'Kachumbari').values(name='Kachumbari na pilipili', price=45)
    result = session.execute(update_statement)
    session.commit()

2025-12-09 11:53:49,774 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 11:53:49,776 INFO sqlalchemy.engine.Engine UPDATE siwaka_dishes.side_dish SET name=%(name)s, price=%(price)s WHERE siwaka_dishes.side_dish.name = %(name_1)s
2025-12-09 11:53:49,777 INFO sqlalchemy.engine.Engine [generated in 0.00159s] {'name': 'Kachumbari na pilipili', 'price': 45, 'name_1': 'Kachumbari'}
2025-12-09 11:53:49,799 INFO sqlalchemy.engine.Engine COMMIT

### Delete

#### SQLite

In [65]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [66]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-09 12:12:19,490 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:12:19,491 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-09 12:12:19,492 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 12:12:19,493 INFO sqlalchemy.engine.Engine COMMIT

In [67]:
with Session(engine) as session:
    delete_statement = side_dish.delete().where(side_dish.c.name == 'Guacamole')
    result = session.execute(delete_statement)
    session.commit()

2025-12-09 12:12:36,945 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:12:36,950 INFO sqlalchemy.engine.Engine DELETE FROM side_dish WHERE side_dish.name = ?
2025-12-09 12:12:36,951 INFO sqlalchemy.engine.Engine [generated in 0.00114s] ('Guacamole',)
2025-12-09 12:12:36,954 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [68]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [69]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-09 12:13:20,614 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-09 12:13:20,618 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:13:20,631 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-09 12:13:20,637 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:13:20,649 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-09 12:13:20,653 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:13:20,665 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:13:20,668 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-09 12:13:20,673 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:13:20,701 INFO sqlalchemy.engine.Engine COMMIT

In [70]:
with Session(engine) as session:
    delete_statement = side_dish.delete().where(side_dish.c.name == 'Guacamole')
    result = session.execute(delete_statement)
    session.commit()

2025-12-09 12:13:56,908 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:13:56,910 INFO sqlalchemy.engine.Engine DELETE FROM side_dish WHERE side_dish.name = %(name_1)s
2025-12-09 12:13:56,911 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {'name_1': 'Guacamole'}
2025-12-09 12:13:56,921 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [71]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@localhost:5433/postgres', echo=True)
session = Session(engine)

In [72]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-09 12:14:20,839 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-09 12:14:20,840 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:14:20,843 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-09 12:14:20,844 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:14:20,847 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-09 12:14:20,847 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:14:20,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:14:20,855 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-09 12:14:20,855 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-09 12:14:20,863 INFO sqlalchemy.engine.Engine COMMIT

In [73]:
with Session(engine) as session:
    delete_statement = side_dish.delete().where(side_dish.c.name == 'Guacamole')
    result = session.execute(delete_statement)
    session.commit()

2025-12-09 12:14:34,735 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:14:34,736 INFO sqlalchemy.engine.Engine DELETE FROM siwaka_dishes.side_dish WHERE siwaka_dishes.side_dish.name = %(name_1)s
2025-12-09 12:14:34,737 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {'name_1': 'Guacamole'}
2025-12-09 12:14:34,748 INFO sqlalchemy.engine.Engine COMMIT

### Database Transaction

#### SQLite

In [102]:
engine = create_engine('sqlite+pysqlite:///mydatabase.db', echo=True)
session = Session(engine)

In [103]:
meta = MetaData()

side_dish = Table(
    "side_dish", # The name of the table
    meta, # The metadata object that holds this table's schema
    Column('id', Integer, primary_key=True), # Define the columns
    Column('name', String, nullable=False),
    Column('price', Float)
)

meta.create_all(engine)  # Create the table in the database

2025-12-09 15:01:59,923 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 15:01:59,924 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("side_dish")
2025-12-09 15:01:59,924 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-09 15:01:59,932 INFO sqlalchemy.engine.Engine COMMIT

In [104]:
with Session(engine) as session:
    trans = session.begin()
    try:
        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari bila pilipili', price=40)
        result = session.execute(update_statement)

        savepoint_1 = session.begin_nested()

        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari plain', price=30)
        result = session.execute(update_statement)

        savepoint_2 = session.begin_nested()

        savepoint_1.rollback()

        trans.commit()
    except sqlalchemy.exc.SQLAlchemyError:
        trans.rollback()
        print("Transaction rolled back")

2025-12-09 15:03:15,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 15:03:15,982 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=?, price=? WHERE side_dish.id = ?
2025-12-09 15:03:15,985 INFO sqlalchemy.engine.Engine [generated in 0.00544s] ('Kachumbari bila pilipili', 40.0, '1')
2025-12-09 15:03:15,990 INFO sqlalchemy.engine.Engine SAVEPOINT sa_savepoint_1
2025-12-09 15:03:15,991 INFO sqlalchemy.engine.Engine [no key 0.00157s] ()
2025-12-09 15:03:15,993 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=?, price=? WHERE side_dish.id = ?
2025-12-09 15:03:15,995 INFO sqlalchemy.engine.Engine [cached since 0.01563s ago] ('Kachumbari plain', 30.0, '1')
2025-12-09 15:03:15,997 INFO sqlalchemy.engine.Engine ROLLBACK TO SAVEPOINT sa_savepoint_1
2025-12-09 15:03:15,999 INFO sqlalchemy.engine.Engine [no key 0.00183s] ()
2025-12-09 15:03:16,001 INFO sqlalchemy.engine.Engine COMMIT

#### MySQL

In [74]:
engine = create_engine('mysql+pymysql://root:5trathm0re@localhost:3307/siwaka_dishes', echo=True)
session = Session(engine)

In [75]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float)
)

meta.create_all(engine)

2025-12-09 12:18:18,442 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-09 12:18:18,442 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:18:18,446 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-09 12:18:18,447 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:18:18,450 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-09 12:18:18,451 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:18:18,454 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:18:18,455 INFO sqlalchemy.engine.Engine DESCRIBE `siwaka_dishes`.`side_dish`
2025-12-09 12:18:18,455 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 12:18:18,461 INFO sqlalchemy.engine.Engine COMMIT

In [79]:
import sqlalchemy

with Session(engine) as session:
    trans = session.begin()
    try:
        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari bila pilipili', price=40)
        result = session.execute(update_statement)

        savepoint_1 = session.begin_nested()

        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari plain', price=30)
        result = session.execute(update_statement)

        savepoint_2 = session.begin_nested()

        savepoint_1.rollback()

        trans.commit()
    except sqlalchemy.exc.SQLAlchemyError:
        trans.rollback()
        print("Transaction rolled back")

2025-12-09 12:52:47,551 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 12:52:47,554 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=%(name)s, price=%(price)s WHERE side_dish.id = %(id_1)s
2025-12-09 12:52:47,554 INFO sqlalchemy.engine.Engine [cached since 792.1s ago] {'name': 'Kachumbari bila pilipili', 'price': 40, 'id_1': '1'}
2025-12-09 12:52:47,561 INFO sqlalchemy.engine.Engine SAVEPOINT sa_savepoint_1
2025-12-09 12:52:47,563 INFO sqlalchemy.engine.Engine [no key 0.00133s] {}
2025-12-09 12:52:47,567 INFO sqlalchemy.engine.Engine UPDATE side_dish SET name=%(name)s, price=%(price)s WHERE side_dish.id = %(id_1)s
2025-12-09 12:52:47,569 INFO sqlalchemy.engine.Engine [cached since 792.1s ago] {'name': 'Kachumbari plain', 'price': 30, 'id_1': '1'}
2025-12-09 12:52:47,574 INFO sqlalchemy.engine.Engine ROLLBACK TO SAVEPOINT sa_savepoint_1
2025-12-09 12:52:47,575 INFO sqlalchemy.engine.Engine [no key 0.00139s] {}
2025-12-09 12:52:47,578 INFO sqlalchemy.engine.Engine COMMIT

#### PostgreSQL

In [99]:
engine = create_engine('postgresql+psycopg2://postgres:5trathm0re@localhost:5433/postgres', echo=True)
session = Session(engine)

In [100]:
meta = MetaData()

side_dish = Table(
    "side_dish",
    meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),  # We specify the length for MySQL = VARCHAR(100)
    Column('price', Float),
    schema="siwaka_dishes"
)

meta.create_all(engine)

2025-12-09 14:59:46,651 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-09 14:59:46,652 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 14:59:46,655 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-09 14:59:46,656 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 14:59:46,662 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-09 14:59:46,663 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-09 14:59:46,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 14:59:46,673 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_namespace.nspname = %(nspname_1)s
2025-12-09 14:59:46,674 INFO sqlalchemy.engine.Engine [generated in 0.00172s] {'table_name': 'side_dish', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'siwaka_dishes'}
2025-12-09 14:59:46,685 INFO sqlalchemy.engine.Engine COMMIT

In [101]:
with Session(engine) as session:
    trans = session.begin()
    try:
        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari bila pilipili', price=40)
        result = session.execute(update_statement)

        savepoint_1 = session.begin_nested()

        update_statement = side_dish.update().where(side_dish.c.id == '1').values(name='Kachumbari plain', price=30)
        result = session.execute(update_statement)

        savepoint_2 = session.begin_nested()

        savepoint_1.rollback()

        trans.commit()
    except sqlalchemy.exc.SQLAlchemyError:
        trans.rollback()
        print("Transaction rolled back")

2025-12-09 15:00:10,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-09 15:00:10,222 INFO sqlalchemy.engine.Engine UPDATE siwaka_dishes.side_dish SET name=%(name)s, price=%(price)s WHERE siwaka_dishes.side_dish.id = %(id_1)s
2025-12-09 15:00:10,223 INFO sqlalchemy.engine.Engine [generated in 0.00133s] {'name': 'Kachumbari bila pilipili', 'price': 40, 'id_1': '1'}
2025-12-09 15:00:10,242 INFO sqlalchemy.engine.Engine SAVEPOINT sa_savepoint_1
2025-12-09 15:00:10,243 INFO sqlalchemy.engine.Engine [no key 0.00105s] {}
2025-12-09 15:00:10,247 INFO sqlalchemy.engine.Engine UPDATE siwaka_dishes.side_dish SET name=%(name)s, price=%(price)s WHERE siwaka_dishes.side_dish.id = %(id_1)s
2025-12-09 15:00:10,248 INFO sqlalchemy.engine.Engine [cached since 0.02555s ago] {'name': 'Kachumbari plain', 'price': 30, 'id_1': '1'}
2025-12-09 15:00:10,256 INFO sqlalchemy.engine.Engine ROLLBACK TO SAVEPOINT sa_savepoint_1
2025-12-09 15:00:10,257 INFO sqlalchemy.engine.Engine [no key 0.00108s] {}
2025-12-09 15:00:10,262 INFO sqlalchemy.engine.Engine COMMIT

## References
SQLAlchemy Project. (2025, December 5). _SQLAlchemy 2.0 Documentation._ SQLAlchemy. https://docs.sqlalchemy.org/en/20/